<!-- Page container -->
<div class="page-container">
  <div class="page-header-content">
    <div class="page-title">
      <div class="breadcrumb-line">
        <a class="breadcrumb-elements-toggle"><i class="icon-menu-open"></i></a>
        <ul class="breadcrumb">
          <li><a [routerLink]="['/']"><i class="icon-home2 position-left"></i> Home</a></li>
          <li><a [routerLink]="['/user/notifications/email']"><i class="icon-bubbles5 position-left"></i> Notifications</a>
          </li>
          <li class="active">Create Groups</li>
        </ul>

        <ul class="breadcrumb-elements">

        </ul>
      </div>
    </div>
  </div>
  <div class="page-content">

    <!-- Main content -->
    <div class="content-wrapper">
      <!-- User profile -->
      <div class="row cbody">
        <div class="col-lg-3">

          <div class="panel panel-flat">
            <div class="panel-heading">
              <h5 class="panel-title"></h5>
            </div>

            <div class="panel-body" style="height: 600px; padding: 10px">
              <div class="box tenantSearch">
                <div class="box-body" style="display: block;">
                  <div class="ui category search">
                    <div class="ui icon input">
                      <input class="prompt" type="text" placeholder="Search User...">
                      <i class="search icon"></i>
                    </div>
                    <div class="results"></div>
                  </div>
                  <div class="ui big selection celled list">
                    <div class="item" *ngFor="let user of users;let i=index" (click)="click(true,user,i)">
                      <div class="media-left media-middle">
                        <a href="#"><img src="{{user.profileImg}}" class="img-circle img-xs" alt=""></a>
                      </div>
                      <div class="media-body">
                        <h6 class="media-heading">
                          <a class="display-inline-block text-semibold letter-icon-title">
                            {{user.firstName}}
                          </a>
                      <span class="media-annotation pull-right menu">
                        <ul class="icons-list">
				                		<li class="dropdown">
				                			<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i
                                class="icon-menu7"></i>
                                <span class="caret"></span>
                              </a>
                              <ul class="dropdown-menu dropdown-menu-right">
                                  <li><a href="#"><i class="icon-users4 position-left"></i>View Details</a></li>
                              </ul>
				                		</li>
				                	</ul>
                      </span>
                        </h6>

                        <div class="text-muted text-size-small">
                          <i class="icon-mail5 position-left"></i>
                          {{user.email}}
                      <span class="media-annotation pull-right">
                        <i class="icon-mobile position-left"></i>{{user.mobile}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <!-- Share your thoughts -->
          <div class="panel panel-flat">
            <div class="panel-heading">
              <h6 class="panel-title"></h6>
              <div class="heading-elements">
                <ul class="icons-list">
                  <li></li>
                </ul>
              </div>
            </div>


          </div>
        </div>
        <div class="col-md-7">
          <div class="panel panel-flat">
            <div class="panel-heading">
              <h5 class="panel-title"></h5>
            </div>

            <div class="panel-body">
              <div class="ui raised segment">
                <div class="ui grid">
                  <div class="five wide column">
                    <form role="form" class="ui form" #createForm="ngForm" novalidate>
                      <h4 class="ui dividing header">Create Group</h4>
                      <div class="field">
                        <label>Group Name</label>
                        <div class="field">
                          <input type="text" name="groupName" placeholder="Group Name" [(ngModel)]="group.name">
                        </div>
                      </div>
                      <button class="ui instagram button {{disabled}}" (click)="save()">Create Group</button>
                    </form>
                  </div>
                  <div class="five wide column">
                    <h4 class="ui header">
                      Group Name - <label class="groupname">{{group?.name}}</label>
                    </h4>
                    <div class="ui divider"></div>
                    <div class="ui middle aligned list">
                      <div class="item" *ngFor="let member of (group | groupkeys );let i = index;">
                        <div class="ui large image label">
                          <img class="ui avatar image" src="{{member.profileImg}}">
                          {{member.firstName}}
                          <i class="delete icon" (click)="deleteMember(member,i)"></i>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="col-lg-2">

          <div class="panel panel-flat">
            <div class="panel-heading">
              <h5 class="panel-title"></h5>
            </div>

            <div class="panel-body">

            </div>
          </div>


          <!-- Share your thoughts -->
          <div class="panel panel-flat">
            <div class="panel-heading">
              <h6 class="panel-title"></h6>
              <div class="heading-elements">
                <ul class="icons-list">
                  <li></li>
                </ul>
              </div>
            </div>

            <div class="panel-body">

            </div>
          </div>
        </div>
      </div>
      <!-- /user profile -->

    </div>
    <!-- /main content -->

  </div>
  <!-- /page content -->

</div>
<!-- /page container -->
