.login-cover{
  background: none !important;
}
.text-right{
  margin-top: 2%;
}
.help-block {
  color: #99adb5;
  font-size: 12.5px;
  margin: 30px 0 13px !important;
  text-align: center;
}
.create{
  float: right;
}

.large{
  left: -10px !important;
}

.login-container .page-container .login-form {
  width: 400px !important;
}
