<div class="login-container login-cover">
  <!-- Page container -->
  <div class="page-container">
    <!-- Page content -->
    <div class="page-content">
      <!-- Main content -->
      <div class="content-wrapper">
       <div class="content">
         <div class="panel login-form">
           <!-- Form -->
           <form class="modal-body ui form">
             <div class="text-center">
               <div class="icon-object border-success text-success"><i class="icon-plus3"></i></div>
               <h5 class="content-group-lg">Create account <small class="display-block">All fields are required</small></h5>
             </div>
             <div class="field">
               <label>Register As</label>
               <div class="ui compact selection dropdown register_role">
                 <input type="hidden" name="register_role" id="register_role">
                 <i class="dropdown icon"></i>
                 <div class="default text">Register As</div>
                 <div class="menu">
                   <div class="item" data-value="pgowner" data-text="PG Owner">
                     <i class="male icon"></i>
                     PG Owner
                   </div>
                   <div class="item" data-value="user" data-text="User">
                     <i class="male icon"></i>
                     Normal User
                   </div>
                 </div>
               </div>
             </div>
             <div class="field">
               <div class="two fields">
                 <div class="field">
                   <div class="ui left icon input">
                     <input type="text" name="username" placeholder="Name" [(ngModel)]="user.firstName">
                     <i class="user icon"></i>
                   </div>
                 </div>
                 <div class="field">
                   <div class="ui compact selection dropdown register_gender">
                     <input type="hidden" name="register_gender" id="register_gender">
                     <i class="dropdown icon"></i>
                     <div class="default text">Gender</div>
                     <div class="menu">
                       <div class="item" data-value="Male" data-text="Male">
                         <i class="male icon"></i>
                         Male
                       </div>
                       <div class="item" data-value="Female" data-text="Female">
                         <i class="female icon"></i>
                         Female
                       </div>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
             <div class="field">
               <div class="ui left icon input">
                 <input type="text" name="email" placeholder="Email" [(ngModel)]="user.email">
                 <i class="mail icon"></i>
               </div>
             </div>
             <div class="field">
               <div class="ui left icon input">
                 <input type="number" name="mobile" placeholder="Mobile Number" [(ngModel)]="user.mobile" maxlength="10">
                 <i class="large mobile icon"></i>
               </div>
             </div>
             <div class="field">
               <div class="ui left icon input">
                 <input type="password" name="password" placeholder="Password" [(ngModel)]="user.password">
                 <i class="lock icon"></i>
               </div>
             </div>
             <span class="help-block text-center no-margin">By clicking below, I agree to the terms and conditions</span>
             <button class="fluid ui blue submit button" type="submit">Create account
               <i class="icon-circle-right2 position-right position-right"></i>
             </button>
             <br/>
             <!-- <div class="content-divider text-muted form-group"><span>or Register with</span></div>
              <ul class="list-inline form-group list-inline-condensed text-center">
                <li><a href="#" class="btn border-indigo text-indigo btn-flat btn-icon btn-rounded"><i class="icon-facebook"></i></a></li>
                <li><a href="#" class="btn border-pink-300 text-pink-300 btn-flat btn-icon btn-rounded"><i class="icon-dribbble3"></i></a></li>
                <li><a href="#" class="btn border-slate-600 text-slate-600 btn-flat btn-icon btn-rounded"><i class="icon-github"></i></a></li>
                <li><a href="#" class="btn border-info text-info btn-flat btn-icon btn-rounded"><i class="icon-twitter"></i></a></li>
              </ul>-->
             <div class="content-divider text-muted form-group"><span>Already have an account?</span></div>
             <a [routerLink]="['/auth/login']" routerLinkActive="active" class="btn btn-default btn-block content-group">Login</a>
           </form>
           <!-- /form -->
         </div>
       </div>
      </div>
    </div>
  </div>
</div>
<!-- Footer -->
<app-footer></app-footer>
<!-- /footer -->
