<div class="page-header page-header-default">
  <div class="page-header-content">
    <div class="page-title">
      <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Home</span> - Service Requests
      </h4>
      <a class="heading-elements-toggle"><i class="icon-more"></i></a></div>
  </div>

  <div class="breadcrumb-line"><a class="breadcrumb-elements-toggle"><i class="icon-menu-open"></i></a>
    <a class="breadcrumb-elements-toggle"><i class="icon-menu-open"></i></a>
    <ul class="breadcrumb">
      <li><a [routerLink]="['/']"><i class="icon-home2 position-left"></i> Home</a></li>
      <li class="active">Service Requests</li>
    </ul>

    <app-settings></app-settings>
    <ul class="breadcrumb-elements" >
      <li>
        <a data-toggle="modal"
           data-target="#modal_info"><i
          class=" icon-file-plus position-left"></i>New Request</a>
      </li>
    </ul>

  </div>
</div>
<div class="content">
  <!-- User profile -->
  <div class="cbody">
    <div class="row">
      <div class="col-md-4">

        <!-- Navigation -->
        <div class="panel panel-flat">
          <div class="panel-heading">
            <h6 class="panel-title"></h6>
            <div class="heading-elements">

            </div>
          </div>
          <div class="panel-body">
            <div class="table">
              <table class="table datatable-request">
                <thead>
                <tr>
                  <th>Name</th>
                  <th>Status</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>

                <tr *ngFor="let request of requests;let i = index; " (click)="onFullHistory(request,i)"
                    [class.active]="i == selectedRow">
                  <td>
                    <div class="media-left media-middle">
                      <a [routerLink]="['/user/profile',request?.tenant?._id]"><img
                        src="{{request?.tenant?.profileImg}}" class="img-circle img-xs" alt=""></a>
                    </div>

                    <div class="media-body">
                      <a [routerLink]="['/user/profile',request?.tenant?._id]"
                         class="display-inline-block text-default text-bold letter-icon-title">
                        {{request?.tenant?.firstName}}
                      </a>
                      <div class="text-muted text-size-small"><a><i class="icon-mobile"></i>{{request?.tenant?.mobile}}</a>
                      </div>
                    </div>
                  </td>
                  <td><span class="label bg-blue">
                      {{request?.status}}
                    </span></td>
                  <td><span *ngIf="i == selectedRow"><i class=" icon-point-right position-right"
                                                        style="color: #37474F;"></i> </span></td>
                </tr>

                </tbody>
              </table>
              <br/>
              <!-- <div class="row">
                 <div class="dataTables_paginate paging_simple_numbers"
                      id="paginate">
                   <a
                     class="paginate_button previous disabled"
                     id="previous">←</a>
                   <span>
                   <a class="paginate_button current"
                      tabindex="0">1</a>
                   <a
                     class="paginate_button "
                     tabindex="0">2</a>
                 </span>
                   <a class="paginate_button next"
                      tabindex="0"
                      id="next">→</a>
                 </div>
               </div>-->
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-8">
        <div class="tabbable">
          <div class="panel panel-flat">

            <div class="panel-heading">
              <a class="ui blue ribbon label">Service Request</a>
            </div>

            <div class="panel-body">

              <div class="request_details animated fadeInRight">
                <div class="datatable ui form">
                  <div class="field">
                    <div class="two fields">
                      <div class="field">
                        <label>Request Number</label>
                        <span>{{request_data?.request_number}}</span>
                      </div>
                      <div class="field text-right">
                        <label>Request Type</label>
                        <span>{{request_data?.request}}</span>
                      </div>
                    </div>
                    <div class="two fields">
                      <div class="field">
                        <label>Status</label>
                        <span>{{request_data?.status}}</span>
                      </div>
                      <div class="field text-right">
                        <label>Owner</label>
                        <span>{{request_data?.owner?.firstName}}</span>
                      </div>
                    </div>
                  </div>
                  <ul class="media-list chat-list content-group" id="content-group">
                    <li class="{{getClass(comment)}}"
                        *ngFor="let comment of request_data.comments; let i=index; ">

                      <div class="media-left" *ngIf="comment.owner">
                        <a [routerLink]="['/user/profile',request_data?.owner._id]">
                          <img src="{{request_data?.owner.profileImg}}" class="img-circle img-md" alt="">
                        </a>
                      </div>

                      <div class="media-body" *ngIf="comment.owner">
                        <div class="media-content">{{comment?.comment}}</div>
                        <span class="media-annotation display-block mt-10">{{fromNow(comment?.createdAt)}}</span>
                      </div>

                      <div class="media-body" *ngIf="!comment.owner">
                        <div class="media-content">{{comment?.comment}}</div>
                        <span class="media-annotation display-block mt-10">{{fromNow(comment?.createdAt)}}</span>
                      </div>

                      <div class="media-right" *ngIf="!comment.owner">
                        <a [routerLink]="['/user/profile',request_data?.tenant._id]">
                          <img src="{{request_data?.tenant.profileImg}}" class="img-circle img-md" alt="">
                        </a>
                      </div>
                      <span id="point"></span>
                    </li>
                    <li></li>
                  </ul>
                        <textarea name="enter-message" class="form-control content-group" rows="3" cols="1"
                                  placeholder="Enter your message..." [(ngModel)]="comment"></textarea>
                  <div class="text-right">
                    <button type="button" class="btn btn-primary-right"
                            (click)="send()"><b>Send <i
                      class="icon-circle-right2 position-right"></i></b>
                    </button>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /user profile -->

  <!-- Footer -->
  <app-footer></app-footer>
  <!-- /footer -->
</div>

<!-- Info modal -->
<div id="modal_info" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h6 class="modal-title">Conformation</h6>
      </div>

      <div class="modal-body">
        <form role="form" class="ui form">
          <div class="field">
            <div class="two fields">
              <div class="field disabled">
                <label>First Name</label>
                <input type="text" name="name" placeholder="First Name" [(ngModel)]="user.firstName"
                       disabled>
              </div>
              <div class="field disabled">
                <label>Email</label>
                <input type="text" name="email" placeholder="Email" [(ngModel)]="user.email" disabled>
              </div>
            </div>
            <div class="two fields">
              <div class="field disabled">
                <label>Mobile</label>
                <input type="text" name="mobile" placeholder="Mobile Number" [(ngModel)]="user.mobile"
                       disabled>
              </div>
              <div class="field">
                <label>Request</label>
                <select class="ui selection dropdown requesttype" id="requesttype">
                  <option value="">Select Request Type</option>
                  <option value="{{request_type.key}}"
                          *ngFor="let request_type of request_types;let last=last">
                    {{request_type.value}}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="field">
            <label>How can i help you ?</label>
                    <textarea name="comments" class="form-control mb-15" rows="3" cols="1" placeholder="Comments"
                              [(ngModel)]="request_comment"></textarea>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-link" data-dismiss="modal" id="modal_info_close">Close</button>
        <button class="btn btn-primary-right" (click)="save()">
          Request
          <b><i class="icon-circle-right2 position-right"></i></b>
        </button>
      </div>
    </div>
  </div>
</div>
<!-- /info modal -->
