<div class="navbar navbar-default navbar-fixed-bottom footer">
  <div class="ui black inverted vertical segment">
    <div class="ui center aligned container fspace">
      <div class="ui stackable inverted grid">
        <div class="col-md-5">
          <h4 class="ui inverted header">Company</h4>
          <div class="ui inverted link list">
            <a routerLink="/aboutus" routerLinkActive="active" class="item">About Us</a>
            <a routerLink="/careers" routerLinkActive="active" class="item">Careers</a>
            <a routerLink="/support" class="item">Help Center</a>
            <a routerLink="/privacy_policy" routerLinkActive="active" class="item">Privacy Policy</a>
            <a routerLink="/terms_conditions" routerLinkActive="active" class="item">Terms and Conditions</a>
          </div>
        </div>
        <div class="col-md-5">
          <h4 class="ui inverted header">Community</h4>
          <div class="ui inverted link list">
            <a class="item">Forum</a>
            <a class="item">Blog</a>
            <a class="item">Feedback</a>
          </div>
        </div>
        <div class="col-md-2">
          <h4 class="ui inverted header">Follow Us</h4>
          <div class="ui inverted link list">
            <a class="item"><i class="facebook f icon position-left"></i> Facebook</a>
            <a class="item"><i class="twitter icon position-left"></i> Twitter</a>
            <a class="item"><i class="google plus icon position-left"></i> Google+</a>
            <a class="item"><i class="instagram icon position-left"></i> Instagram</a>
            <a class="item"><i class="linkedin icon position-left"></i> Linkedin</a>
          </div>
        </div>

      </div>
      <div class="ui inverted section divider"></div>
      <!--<img src="/images/logo.png" class="ui centered mini image">-->
      <div class="ui horizontal inverted small divided link list">
        <a class="item">Way2PG</a>
      </div>
    </div>
  </div>
</div>
