.footer {
  position: inherit !important;
}

.navbar {
   padding-left: 0px !important;
   padding-right: 0px !important;
}

/*.ui.inverted.black.segment {
  background-color: #3c8dbc!important;
  color: #FFF!important;
}*/

.ui.inverted.black.segment {
  background-color: #263238!important;
  color: #FFF!important;
}

.fspace{
  margin-top: 2%;
  text-align: left !important;
}
