<!-- Page container -->
<div class="page-container">
  <!-- Page content -->
  <div class="page-content">

    <!-- Main content -->
    <div class="content-wrapper">
      <!-- User profile -->
      <div class="row" style="padding-top: 20px;">
        <div class="col-lg-2">

          <!-- Navigation -->
          <div class="panel panel-flat">
            <div class="panel-heading">
              <h6 class="panel-title"></h6>
              <div class="heading-elements">

              </div>
            </div>
          </div>
          <!-- /navigation -->


          <!-- Share your thoughts -->
          <div class="panel panel-flat">
            <div class="panel-heading">
              <h6 class="panel-title"></h6>
              <div class="heading-elements">
                <ul class="icons-list">
                  <li></li>
                </ul>
              </div>
            </div>

            <div class="panel-body">

            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="tabbable">

            <div class="panel panel-flat">

              <div class="panel-heading">
                <a class="ui blue ribbon label">PG Subscribe</a>
              </div>

             <!-- <div class="panel-body">

                <form role="form" class="ui form" (ngSubmit)="f.form.valid && save($event)" #f="ngForm" novalidate>
                  <div class="field">
                    <div class="two fields">
                      <div class="field">
                        <label>First Name</label>
                        <input type="text" name="name" placeholder="First Name" [(ngModel)]="pgsubscribe.name">
                      </div>
                      <div class="field">
                        <label>Email</label>
                        <input type="text" name="email" placeholder="Email" [(ngModel)]="pgsubscribe.email">
                      </div>
                    </div>
                    <div class="two fields">
                      <div class="field">
                        <label>Mobile</label>
                        <input type="text" name="mobile" placeholder="Mobile Number" [(ngModel)]="pgsubscribe.mobile">
                      </div>
                      <div class="field">
                        <label>Location</label>
                        <input type="text" name="location" placeholder="Location" [(ngModel)]="pgsubscribe.location">
                      </div>
                    </div>
                  </div>
                  <div class="field">
                    <label>Tell us about your PG</label>
                    <textarea name="comments" class="form-control mb-15" rows="3" cols="1" placeholder="What's on your mind?" [(ngModel)]="pgsubscribe.comments"></textarea>
                  </div>
                  <div class="row">
                    <div class="col-xs-6">
                      <ul class="icons-list icons-list-extended mt-10">
                        <li><a href="#" data-popup="tooltip" title="Add photo" data-container="body">&lt;!&ndash;<i class="icon-images2"></i>&ndash;&gt;</a></li>
                        <li><a href="#" data-popup="tooltip" title="Add video" data-container="body">&lt;!&ndash;<i class="icon-film2"></i>&ndash;&gt;</a></li>
                        <li><a href="#" data-popup="tooltip" title="Add event" data-container="body">&lt;!&ndash;<i class="icon-calendar2"></i>&ndash;&gt;</a></li>
                      </ul>
                    </div>

                    <div class="col-xs-6 text-right">
                      <button class="btn btn-primary-right">
                        Request
                        <b><i class="icon-circle-right2 position-right"></i></b>
                      </button>
                    </div>
                  </div>
                </form>
              </div>-->
            </div>

            <div class="panel panel-flat border-top-warning">
              <div class="panel-heading">
                <!-- <h6 class="panel-title"><span class="text-semibold">
                   <span>Ads by </span> </span> OursPG</h6>-->
              </div>

              <div class="panel-body">

              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-2">

          <!-- Navigation -->
          <div class="panel panel-flat">
            <div class="panel-heading">
              <h6 class="panel-title"></h6>
              <div class="heading-elements">

              </div>
            </div>
          </div>
          <!-- /navigation -->


          <!-- Share your thoughts -->
          <div class="panel panel-flat">
            <div class="panel-heading">
              <h6 class="panel-title"></h6>
              <div class="heading-elements">
                <ul class="icons-list">
                  <li></li>
                </ul>
              </div>
            </div>

            <div class="panel-body">

            </div>
          </div>
        </div>
      </div>
      <!-- /user profile -->

    </div>
    <!-- /main content -->

  </div>
  <!-- /page content -->

</div>
<!-- /page container -->
