.ui.buttons{
  float: right;
  margin-right: 10px;
}

.submitbtn{
  float: right;
  padding-right: 0px;
}
.disabled{
  opacity: 1 !important;
}
.daterange-food.show-calendar .calendar, .range_inputs, .daterange-food-inputs{
  display: none !important;
}

div.daterange-food > div > ul > li.active {
  color: #fff;
  background-color: #37474F !important;
}
