<!--<second-navbar></second-navbar>-->
<section id="hero" class="hero">
  <div class="hero--carousel owl-carousel owl-theme">
    <div class="carousel--item">
      <div class="hero-content--title"><h1>Fully-furnished PGs.</h1></div>
    </div>

    <div class="carousel--item">
      <div class="hero-content--title">Enjoy PGHub at as low as 4000</div>
    </div>
    <div class="carousel--item">
      <div class="hero-content--title">Good Food. Good WiFi. Good Life.</div>
    </div>
    <div class="carousel--item">
      <div class="hero-content--title">Browse. Book. Stay.</div>
    </div>
    <div class="carousel--item">
      <div class="hero-content--title">Luxury Accommodation.</div>
    </div>
  </div>
  <div class="hero&#45;&#45;flex-cont">
    <div class="hero&#45;&#45;center-content flex-item1">

      <div class="hero-content&#45;&#45;slide slide0">
        <div class="hero-content&#45;&#45;sub-title">
          <span class="na-bird"></span><i class="glyphicon glyphicon-ok position-left"></i>No Brokerage &nbsp;
          <span class="na-bird"></span><i class="glyphicon glyphicon-ok position-left"></i>Fully Furnished &nbsp;
          <span class="na-bird"></span><i class="glyphicon glyphicon-ok position-left"></i>Rents Starting At &#8377;4000/Month
          &nbsp;
          <span class="na-bird"></span><i class="glyphicon glyphicon-ok position-left"></i>1 Month Security Deposit
          &nbsp;
        </div>

        <!-- <form role="form" class="ui form hero-content&#45;&#45;search-box" #createForm="ngForm" novalidate>
           <input type="text" placeholder="Search landmarks or pincodes" id="autocomplete">
           <select class="gender-select" name="gender">
             <option value="boys">Boys</option>
             <option value="girls">Girls</option>
             <option value="working">Working Professional</option>
           </select>
           <button id="search" class="ui large teal button">Search</button>
         </form>-->
        <div class="ui one column centered grid">
          <div class="column">
            <form action="#" class="main-search">
              <div class="input-group content-group">
                <div class="has-feedback has-feedback-left">
                  <input type="text" class="form-control input-xlg" name="search_data"
                         placeholder="Search pgnames or location or pincodes" [(ngModel)]="search_data">
                  <div class="form-control-feedback">
                    <i class="icon-search4 text-muted text-size-base"></i>
                  </div>
                </div>

                <div class="input-group-btn">
                  <button type="submit" class="btn search-btn btn-xlg submit button" (click)="search()">Search</button>
                </div>
              </div>
            </form>
          </div>
        </div>

      </div>

    </div>

  </div>
</section>
<div class="page-container">
  <!-- Page content -->
  <div class="page-content">
    <!-- Main content -->
    <div class="content-wrapper">
      <div class="clean-widget content">


        <div class="clean-widget">
          <section class="grey-bg">
            <div class="ui one column centered grid">
              <div class="column">
                <h2 class="offers-text">Limited Offers in <span class="capitalize"
                                                                id="limited-offers-text">bangalore</span></h2>
              </div>
              <div class="column">
                <div class="ui link cards">
                  <div class="card">
                    <div class="image">
                      <img src="assets/offers/limited_time.jpg">
                    </div>
                    <div class="content">
                      <div class="header">Super Saver</div>
                      <div class="description">
                        <span>₹ <b>2000 off</b> for a limited time</span>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="image">
                      <img src="assets/offers/hurry_up.jpg">
                    </div>
                    <div class="content">
                      <div class="header">Special Offers</div>
                      <div class="description">
                        <span>Get upto ₹ <b>5000 off</b></span>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="image">
                      <img src="assets/offers/directbooking.jpg">
                    </div>
                    <div class="content">
                      <div class="header">Super Saver</div>
                      <div class="description">
                        <span>Book directly and get ₹ <b>500 off</b></span>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="image">
                      <img src="assets/offers/oftheday.jpg">
                    </div>
                    <div class="content">
                      <div class="header">Super Saver</div>
                      <div class="description">
                        <span>Grab these <b>offers now</b></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="how-work">
            <div class="ui one column centered grid">
              <div class="column">
                <h2>What do you have to do? Pick a PG or Room you like</h2>
                <p><b>That’s it</b>. There is no haggling, no awkward questions from landlords, no need to even run
                  around
                  for paperwork</p>
              </div>
              <div class="two column row">
                <div class="column">
                  <ul>
                    <li>
                    <span class="col-md-2">
                      <img alt="how work widget section: first search icon for search house"
                           src="assets/love/search.png">
                    </span>
                    <span class="col-md-10">
                      <h3>Search</h3>
                      <p>Find a place that fits all your preferences.</p>
                    </span>
                    </li>
                    <li>
                    <span class="col-md-2">
                      <img alt="how work widget section: then visit icon for schedule a visit for that house"
                           src="assets/love/visit.png">
                    </span>
                    <span class="col-md-10">
                      <h3>Visit</h3>
                      <p>Finalise a time and date to visit the homes you like.</p>
                    </span>
                    </li>
                    <li>
                    <span class="col-md-2">
                      <img
                        alt="how work widget section: then book icon for secure payment on booking bed or room or house"
                        src="assets/love/book.png">
                    </span>
                    <span class="col-md-10">
                      <h3>Book</h3>
                      <p>Pay a token amount online to lock the <br> bed / room / house.</p>
                    </span>
                    </li>
                    <li>
                    <span class="col-md-2">
                      <img alt="how work widget section: move-in icon for ready to move-in house"
                           src="assets/love/move.png">
                    </span>
                    <span class="col-md-10">
                      <h3>Move-In</h3>
                      <p>Choose a move-in date and just show up!</p>
                    </span>
                    </li>
                  </ul>
                </div>
                <div class="column">
                  <div class="thumbnail">
                    <div class="video-container">
                      <iframe allowfullscreen="" frameborder="0" mozallowfullscreen=""
                              src="https://player.vimeo.com/video/126945693?title=0&amp;byline=0&amp;portrait=0"
                              webkitallowfullscreen=""></iframe>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <section class="grey-bg love-widget">
            <div class="ui one column centered grid">
              <div class="column">
                <h2>Why do people love PGHub?</h2>
              </div>
              <div class="two column row">
                <div class="column">
                  <ul class="col-1-2">
                    <li>Ready to move-in PGs</li>
                    <li>Easy transfer to PGs within our network</li>
                    <li>Affordable rents</li>
                  </ul>
                </div>
                <div class="column">
                  <ul class="col-1-2">
                    <li>No time limits like Rented House</li>
                    <li>No unnecessary restrictions</li>
                    <li>Get a living room with your bed</li>
                  </ul>
                </div>
              </div>
              <div class="two column row">
                <div class="column">
                  <div class="action">
                    <h3>PG for boys</h3>
                    <a href="/bangalore/flat-house-for-rent?gender=family">
                      <img alt="Category section: perfect furnished PGs for bachelors, boys"
                           src="assets/love/boys.jpg">
                      <span class="hm-btn">Explore Homes</span>
                    </a>
                  </div>
                </div>
                <div class="column">
                  <div class="action">
                    <h3>PG for girls</h3>
                    <a href="/bangalore/pg-room-for-rent">
                      <img alt="Category section: perfect furnished PGs for bachelors, girls"
                           src="assets/love/girls.jpg">
                      <span class="hm-btn">Explore Homes</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <section class="helpline">
            <div class="helpline-section">
              <h2>PGHub Support</h2>
              <p>Support Center against Discrimination</p>
              <a href="/support" class="btn btn-default">Help Center</a>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
  <!--<router-outlet></router-outlet>-->

</div>
<!-- Footer -->
<app-footer></app-footer>
<!-- /footer -->
