<div class="page-header page-header-default">
  <div class="page-header-content">
    <div class="page-title">
      <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Home</span> - My Profile</h4>
      <a class="heading-elements-toggle"><i class="icon-more"></i></a></div>
  </div>

  <div class="breadcrumb-line"><a class="breadcrumb-elements-toggle"><i class="icon-menu-open"></i></a>
    <ul class="breadcrumb">
      <li><a routerLink="/home"><i class="icon-home2 position-left"></i> Home</a></li>
      <li class="active">My Profile</li>
    </ul>

    <app-settings></app-settings>
  </div>
</div>
<div class="content">
<fieldset disabled="{{disabled}}">
  <div class="cbody tabbable">

    <div class="panel panel-flat">
      <div class="panel-body">
        <!-- Cover area -->
        <div class="profile-cover">
          <div class="profile-cover-img"
               [ngStyle]="{ 'background-image': 'url(' + IMAGE_URL + user?.coverImg + ')'}"></div>
          <div class="media">
            <div class="media-left profile-thumb">
              <img [src]="IMAGE_URL + user?.profileImg" class="img-circle">
            </div>

            <div class="media-body">
              <h1>{{user.firstName}}
                <small class="display-block">{{user.role}}</small>
              </h1>
            </div>

            <div class="media-right media-middle">
              <ul class="list-inline list-inline-condensed no-margin-bottom text-nowrap">
                <li>
                  <input id="coverImg" type="file" class="cupload">
                </li>
                <li>
                  <input id="profileImg" type="file" class="pupload">
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- /cover area -->
        <div class="ui raised segment">
          <div class="row">
            <div class="col-md-12">

              <form class="modal-body ui form disabled">
                <div class="ui right floated buttons" *ngIf="!(disabled=='disabled')">
                  <button class="ui instagram submit button" type="submit">Save</button>
                </div>
                <br/><br/>
                <div class="box profilebox">
                  <div class="ui raised segment">
                    <a class="ui blue ribbon label">Personal Details</a>
                    <br/><br/>
                    <span></span>
                    <div class="box-body">
                      <div class="field {{disabled}}">
                        <div class="three fields">
                          <div class="field {{disabled}}">
                            <label>First name</label>
                            <div class="ui left icon input">
                              <input name="firstName" id="firstName" type="text" class="validate"
                                     [(ngModel)]="user.firstName"
                                     placeholder="First Name">
                              <i class="user icon"></i>
                            </div>
                          </div>
                          <div class="field {{disabled}}">
                            <label>Middle name</label>
                            <div class="ui left icon input">
                              <input name="middleName" id="middleName" type="text" class="validate"
                                     [(ngModel)]="user.middleName" placeholder="Middle Name">
                              <i class="user icon"></i>
                            </div>
                          </div>
                          <div class="field {{disabled}}">
                            <label>Last name</label>
                            <div class="ui left icon input">
                              <input type="text" class="form-control" id="lastName" name="lastName"
                                     [(ngModel)]="user.lastName"
                                     placeholder="Last Name">
                              <i class="user icon"></i>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="field {{disabled}}">
                        <div class="three fields">

                          <div class="field {{disabled}}">
                            <label>Date Of Birth</label>
                            <div class="ui left icon input">
                              <input name="dob" id="dob" type="text" class="validate" [(ngModel)]="user.dob"
                                     placeholder="Date of Birth" class="dob">
                              <i class="calendar icon"></i>
                            </div>
                          </div>
                          <div class="field {{disabled}}">
                            <label>Gender</label>
                            <div class="ui selection dropdown profile_gender {{disabled}}">
                              <input type="hidden" name="profile_gender" id="profile_gender" [(ngModel)]="user.gender">
                              <i class="dropdown icon"></i>
                              <div class="default text">Gender</div>
                              <div class="menu">
                                <div class="item" data-value="Male" data-text="Male">
                                  <i class="male icon"></i>
                                  Male
                                </div>
                                <div class="item" data-value="Female" data-text="Female">
                                  <i class="female icon"></i>
                                  Female
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="field {{disabled}}" hidden>
                            <label>Marital Status {{user.maritalStatus}}</label>
                            <div class="ui selection dropdown maritalStatus {{disabled}}">
                              <input type="hidden" name="maritalStatus" [(ngModel)]="user.maritalStatus">
                              <i class="dropdown icon"></i>
                              <div class="default text">Marital Status</div>
                              <div class="menu">
                                <div class="item" data-value="Single">Single</div>
                                <div class="item" data-value="Married">Married</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="field {{disabled}}">
                        <div class="three fields">
                          <div class="field {{disabled}}">
                            <label>Display Name</label>
                            <div class="ui left icon input">
                              <input name="displayName" id="displayName" type="text" class="validate"
                                     [(ngModel)]="user.displayName" placeholder="Display Name">
                              <i class="user icon"></i>
                            </div>
                          </div>
                          <div class="field {{disabled}}">
                            <label>Mobile Number</label>
                            <div class="ui left icon input">
                              <input name="mobile" id="mobile" type="number" class="validate"
                                     [(ngModel)]="user.mobile" placeholder="Mobile Number">
                              <i class="mobile icon"></i>
                            </div>
                          </div>
                          <div class="field disabled">
                            <label>Email</label>
                            <div class="ui left icon input">
                              <input name="email" id="email" type="text" class="validate"
                                     [ngModel]="user.email"
                                     placeholder="Email">
                              <i class="mail icon"></i>
                            </div>
                          </div>
                        </div>
                      </div>


                    </div>
                  </div>
                  <div class="ui raised segment">
                    <a class="ui blue ribbon label">Residential Address</a>
                    <br/><br/>
                    <span></span>
                    <div class="box-body">
                      <div class="field {{disabled}}">
                        <div class="three fields">

                          <div class="field {{disabled}}">
                            <label>Country</label>
                            <select name="skills" class="ui fluid search dropdown country disabled">
                              <option value=""></option>
                              <option value="{{country._id}}"
                                      *ngFor="let country of _countries; let i = index;" [selected]="country.name == 'India'">{{country.name}}
                              </option>
                            </select>
                          </div>
                          <div class="field {{disabled}}">
                            <label>State</label>
                            <select name="state" class="ui fluid search dropdown state">
                              <option value=""></option>
                              <option value="{{state._id}}"
                                      *ngFor="let state of _states; let i = index;"
                                      [selected]="state.name == user?.state?.name">{{state.name}}
                              </option>
                            </select>
                          </div>
                          <div class="field {{disabled}}">
                            <label>City</label>
                            <select name="city" class="ui fluid search dropdown city">
                              <option value=""></option>
                              <option value="{{city._id}}"
                                      *ngFor="let city of _cities; let i = index;"
                                      [selected]="city.name == user?.city?.name">{{city.name}}
                              </option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="field {{disabled}}">
                        <div class="three fields">
                          <div class="field">
                            <label>House No & Street Name</label>
                            <div class="ui left icon input">
                              <input name="addressLineOne" id="addressLineOne" type="text" class="validate"
                                     [(ngModel)]="user.addressLineOne" placeholder="House No & Street Name">
                              <i class="home icon"></i>
                            </div>
                          </div>
                          <div class="field {{disabled}}">
                            <label>Locality & Area</label>
                            <div class="ui left icon input">
                              <input name="addressLineTwo" id="addressLineTwo" type="text" class="validate"
                                     [(ngModel)]="user.addressLineTwo" placeholder="Locality & Area">
                              <i class="map signs icon"></i>
                            </div>
                          </div>
                          <div class="field {{disabled}}">
                            <label>Postal Code</label>
                            <div class="ui left icon input">
                              <input type="text" class="form-control" id="postalCode" name="postalCode"
                                     [(ngModel)]="user.postalCode" placeholder="Postal Code">
                              <i class="marker icon"></i>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="field {{disabled}}">
                        <div class="two fields">
                          <div class="field {{disabled}}">
                            <label>Landmark</label>
                            <div class="ui left icon input">
                              <input name="landMark" id="landMark" type="text" class="validate"
                                     [(ngModel)]="user.landMark"
                                     placeholder="Landmark">
                              <i class="street view icon"></i>
                            </div>
                          </div>
                          <div class="field {{disabled}}">
                            <label>Comment</label>
                            <div class="ui left icon input">
                              <input name="comments" id="comments" type="text" class="validate"
                                     [(ngModel)]="user.comments"
                                     placeholder="Comments">
                              <i class="comments signs icon"></i>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="ui raised segment" *ngIf="user.role==='tenant'">
                    <a class="ui blue ribbon label">Uploaded Proofs</a>
                    <br/><br/>
                    <span></span>
                    <div class="box-body">
                      <table role="presentation" class="table table-striped">
                        <tbody class="files">
                        <tr>
                          <th>Image</th>
                          <th>ID Number</th>
                          <th>Name</th>
                          <th>Type</th>
                          <th>Size</th>
                        </tr>
                        <tr class="template-download fade in"
                            *ngFor="let image of uploadedImages;let i=index;let last=last"
                            id="{{image.fileid}}">
                          <td>
            <span class="preview">
            <a><img [src]="IMAGE_URL+image.fileid" style="height: 35px;width: 85px;"
                    (click)="showImage(imageURL+image.fileid)"></a>
            </span>
                          </td>
                          <td>
                            {{image.number}}
                          </td>
                          <td>
                            <a title="{{image.filename}}">{{image.name}}</a>
                          </td>
                          <td>
                            <a title="{{image.filename}}">{{image.type}}</a>
                          </td>
                          <td>
                            <span class="size">{{image.size}}</span>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</fieldset>
<!-- Footer -->
<app-footer></app-footer>
<!-- /footer -->
</div>
