.tiva-timetable table.timetable-month th.timetable-header {
  height: 19.5pt;
}

.tiva-timetable table.timetable-month {
  width: 100%;
}

.tiva-timetable .timetable-week .timetable-axis {
  width: .625in;
}

.tiva-timetable .timetable-week.show-time .timetable-axis {
  padding-top: 60px;
}

.tiva-timetable .loading {
  text-align: center;
}

.tiva-timetable table.timetable-month {
  box-sizing: border-box;
}

.tiva-timetable .timetable-week .timetable-axis .axis-item {
  height: 3.4375pc;
}

.tiva-timetable .timetable-week.show-time .timetable-column .timetable-column-header {
  height: 37.5pt;
}

.tiva-timetable .loading, .tiva-timetable table.timetable-month th.timetable-header, .tiva-timetable .timetable-week .timetable-column .timetable-column-header {
  padding-left: 0;
}

.tiva-timetable table.timetable-month th {
  border-left-width: .010416667in;
}

.tiva-timetable table.timetable-month {
  border-collapse: collapse;
}

.tiva-timetable .loading {
  padding-bottom: 75pt;
}

.tiva-timetable {
  font-family: "Lato", sans-serif;
}

.tiva-timetable .timetable-week .timetable-axis, .tiva-timetable .timetable-week .timetable-columns .timetable-column {
  float: left;
}

.tiva-timetable table.timetable-month th {
  border-bottom-width: .010416667in;
}

.tiva-timetable .timetable-week .timetable-axis {
  padding-top: 36px;
}

.tiva-timetable .timetable-week .timetable-columns {
  margin-left: .625in;
}

.tiva-timetable .timetable-week .timetable-column .timetable-column-header.last-column {
  border-right-width: medium;
}

.tiva-timetable {
  font-size: 12pt;
}

.tiva-timetable .loading, .tiva-timetable .timetable-week .timetable-column .timetable-column-header, .tiva-timetable table.timetable-month th.timetable-header {
  padding-right: 0;
}

.tiva-timetable .timetable-list .timetable-header {
  height: 34px;
}

.tiva-timetable .timetable-week .timetable-column .timetable-column-header.last-column {
  border-right-style: none;
}

.tiva-timetable .loading {
  padding-top: 75pt;
}

.time-navigation .navi-time {
  display: inline-block;
}

.tiva-timetable table.timetable-month th.timetable-header, .tiva-timetable .timetable-week .timetable-column .timetable-column-header {
  padding-bottom: 10px;
}

.time-navigation .navi-prev {
  margin-right: 20px;
}

.time-navigation .navi-next {
  margin-left: .208333333in;
}

.time-navigation .navi-icon {
  font-family: "Zapf Dingbats";
}

.tiva-timetable .timetable-list .timetable-header {
  line-height: 24pt;
}

.tiva-timetable .timetable-week .timetable-column .timetable-column-content .timetable-title:hover {
  opacity: .8;
}

.tiva-timetable .timetable-week .timetable-axis .axis-item {
  font-size: .15625in;
}

.time-navigation .navi-icon {
  font-size: 13.5pt;
}

.tiva-timetable .timetable-week .timetable-axis .axis-item {
  line-height: .15625in;
}

.tiva-timetable table.timetable-month th.timetable-header, .tiva-timetable .timetable-list .timetable-header, .tiva-timetable .timetable-week .timetable-column .timetable-column-header {
  background-color: #37474F;
}

.tiva-timetable .timetable-list .timetable-header span {
  float: right;
}

.time-navigation .navi-icon {
  cursor: pointer;
}

.tiva-timetable .timetable-week .timetable-columns .timetable-column {
  width: 14.2857%;
}

.tiva-timetable .timetable-week .timetable-columns .timetable-column {
  position: relative;
}

.tiva-timetable .timetable-week .timetable-column .timetable-column-header {
  height: .270833333in;
}

.tiva-timetable {
  color: #535353;
}

.time-navigation .navi-icon {
  user-select: none;
}

.tiva-timetable .timetable-week .timetable-column .timetable-column-header.last-column {
  border-right-color: currentColor;
}

.tiva-timetable .timetable-list .timetable-header, .tiva-timetable .timetable-week .timetable-column .timetable-column-header, .tiva-timetable table.timetable-month th.timetable-header {
  font-weight: 400;
}

.tiva-timetable .timetable-week .timetable-column .timetable-column-header.last-column {
  border-image: none;
}

.tiva-timetable .timetable-week.show-time .timetable-column .timetable-column-content {
  top: 70px;
}

.tiva-timetable table.timetable-month, .tiva-timetable .timetable-week .timetable-column .timetable-column-header, .tiva-timetable .timetable-week .timetable-column .timetable-column-content .timetable-title, .tiva-timetable .timetable-list .timetable-header {
  color: #fff;
}

.tiva-timetable .timetable-week .timetable-column .timetable-column-content .timetable-title {
  display: block;
}

.tiva-timetable .timetable-week .timetable-column .timetable-column-header, .tiva-timetable table.timetable-month th.timetable-header {
  padding-top: .625pc;
}

.tiva-timetable .timetable-list .timetable-header {
  text-align: left;
}

.tiva-timetable table.timetable-month {
  border-spacing: 0;
}

.tiva-timetable .timetable-week .timetable-column .timetable-column-content .timetable-title {
  position: absolute;
}

.time-navigation .navi-icon {
  -webkit-user-select: none;
}

.time-navigation .navi-icon {
  -moz-user-select: none;
}

.time-navigation .navi-icon {
  -ms-user-select: none;
}

.tiva-timetable .timetable-week .timetable-column .timetable-column-content .timetable-title {
  top: 0;
}

.tiva-timetable {
  line-height: 1.5pc;
}

.tiva-timetable .timetable-week .timetable-column .timetable-column-content .timetable-title, .tiva-timetable .timetable-week, .tiva-timetable .timetable-list {
  width: 100%;
}

.tiva-timetable .timetable-week .timetable-column .timetable-column-content .timetable-title {
  height: 54px;
}

.tiva-timetable .timetable-week .timetable-column .timetable-column-grid  .grid-item.first-column, .tiva-timetable table.timetable-month, .tiva-timetable .timetable-list .timetable-content {
  border-left-width: 1px;
}

.tiva-timetable table.timetable-month th, .tiva-timetable .timetable-week .timetable-column .timetable-column-header, .tiva-timetable table.timetable-month {
  border-right-width: .010416667in;
}

.tiva-timetable .timetable-list, .tiva-timetable .timetable-week {
  float: left;
}

.tiva-timetable table.timetable-month, .tiva-timetable table.timetable-month th {
  border-top-width: .010416667in;
}

.tiva-timetable table.timetable-month th {
  border-left-style: solid;
}

.tiva-timetable .timetable-week .timetable-column .timetable-column-content .timetable-title {
  text-decoration: none;
}

.tiva-timetable table.timetable-month th {
  border-bottom-style: solid;
}

.tiva-timetable .timetable-list .timetable-content, .tiva-timetable .timetable-list .timetable-header {
  padding-left: 11.25pt;
}

.tiva-timetable .timetable-list .timetable-header, .tiva-timetable .timetable-week .timetable-column .timetable-column-content .timetable-title {
  padding-bottom: 0;
}

.tiva-timetable {
  -webkit-font-smoothing: antialiased;
}

.tiva-timetable {
  font-smoothing: antialiased;
}

.tiva-timetable table.timetable-month th, .tiva-timetable .timetable-week .timetable-column .timetable-column-header {
  border-right-style: solid;
}

.tiva-timetable .timetable-week .timetable-column .timetable-column-content .timetable-title, .tiva-timetable .timetable-week .timetable-column .timetable-column-content .timetable-title-wrap, .tiva-timetable table.timetable-month th.timetable-header, .tiva-timetable .timetable-week .timetable-column .timetable-column-header {
  text-align: center;
}

.tiva-timetable .timetable-list .timetable-header, .tiva-timetable .timetable-list .timetable-content {
  padding-right: 11.25pt;
}

.tiva-timetable .timetable-week .timetable-column .timetable-column-content .timetable-title, .tiva-timetable .timetable-list .timetable-header {
  padding-top: 0;
}

.tiva-timetable {
  -moz-osx-font-smoothing: grayscale;
}

.tiva-timetable .timetable-week .timetable-column .timetable-column-content .timetable-title {
  outline: none;
}

.tiva-timetable table.timetable-month {
  table-layout: fixed;
}

.tiva-timetable .timetable-list .timetable-content {
  padding-bottom: .15625in;
}

.tiva-timetable .timetable-list .timetable-content {
  padding-top: .15625in;
}

.tiva-timetable .timetable-week .timetable-column .timetable-column-content .timetable-title {
  padding-left: 0;
}

.tiva-timetable {
  margin-left: 0;
}

.tiva-timetable table.timetable-month {
  border-bottom-width: .010416667in;
}

.tiva-timetable .timetable-week .timetable-column .timetable-column-content .timetable-title {
  padding-right: 0;
}

.tiva-timetable table.timetable-month td.calendar-day {
  color: #ababab;
}

.tiva-timetable .timetable-week .timetable-column .timetable-column-content .timetable-title {
  -webkit-box-shadow: 0 0 1.375pc 0 rgba(0, 0, 0, .1);
}

.mfp-bg.my-mfp-zoom-in {
  background: rgba(66, 65, 65, .73);
}

.tiva-timetable table.timetable-month th, .tiva-timetable .timetable-week .timetable-column .timetable-column-header {
  border-right-color: #d1d1d1;
}

.tiva-timetable table.timetable-month th {
  border-top-style: solid;
}

.tiva-timetable {
  margin-bottom: 1.25pc;
}

.tiva-timetable .timetable-week .timetable-column .timetable-column-header {
  border-image: none;
}

.timetable-popup .mfp-close {
  top: .5pc;
}

.tiva-timetable .timetable-week .timetable-column .timetable-column-header {
  -webkit-box-sizing: content-box;
}

.tiva-timetable .timetable-list .timetable-content, .tiva-timetable table.timetable-month th {
  border-left-color: #d1d1d1;
}

.timetable-popup .popup-header {
  padding-left: .208333333in;
}

.tiva-timetable {
  margin-right: 0;
}

.tiva-timetable {
  margin-top: 1.25pc;
}

.tiva-timetable table.timetable-month td.calendar-day {
  font-size: .875pc;
}

.tiva-timetable table.timetable-month td.calendar-day, .tiva-timetable table.timetable-month td.calendar-day.today {
  padding-left: .104166667in;
}

.tiva-timetable .timetable-week .timetable-column .timetable-column-header {
  -moz-box-sizing: content-box;
}

.tiva-timetable .timetable-week .timetable-column .timetable-column-header {
  box-sizing: content-box;
}

.tiva-timetable .timetable-list .timetable-item .timetable-color, .tiva-timetable .timetable-week .timetable-column .timetable-column-content .timetable-title-wrap, .tiva-timetable .timetable-week .timetable-column .timetable-column-content {
  position: absolute;
}

.tiva-timetable .timetable-week .timetable-column .timetable-column-content .timetable-title {
  box-shadow: 0 0 22px 0 rgba(0, 0, 0, .1);
}

.tiva-timetable .timetable-week .timetable-column .timetable-column-content, .tiva-timetable {
  width: 100%;
}

.tiva-timetable table.timetable-month td.calendar-day {
  text-align: right;
}

.timetable-popup .popup-header {
  padding-bottom: .208333333in;
}

.tiva-timetable table.timetable-month, .tiva-timetable .timetable-list .timetable-content {
  border-left-style: solid;
}

.timetable-popup .popup-header {
  padding-right: .208333333in;
}

.tiva-timetable .timetable-week .timetable-column .timetable-column-content {
  top: 2.875pc;
}

.tiva-timetable {
  float: left;
}

.tiva-timetable table.timetable-month th, .tiva-timetable .timetable-list .timetable-day:last-child {
  border-bottom-color: #d1d1d1;
}

.tiva-timetable table.timetable-month, .tiva-timetable .timetable-list .timetable-day:last-child {
  border-bottom-style: solid;
}

.timetable-popup .popup-header, .time-navigation {
  text-align: center;
}

.tiva-timetable .timetable-list .timetable-header span {
  font-size: 11.25pt;
}

.tiva-timetable .timetable-week .timetable-column .timetable-column-content .timetable-title-wrap {
  top: 50%;
}

.tiva-timetable .timetable-list .timetable-day:last-child {
  border-bottom-width: .75pt;
}

.timetable-popup .popup-header {
  padding-top: .208333333in;
}

.timetable-popup .popup-header, .time-navigation {
  font-size: 1.125pc;
}

.tiva-timetable .timetable-week .timetable-column .timetable-column-content .timetable-title-wrap {
  left: 50%;
}

.time-navigation {
  text-transform: uppercase;
}

.tiva-timetable table.timetable-month td.calendar-day {
  vertical-align: top;
}

.tiva-timetable .timetable-week .timetable-column .timetable-column-content .timetable-title-wrap {
  -webkit-transform: translate(-50%, -50%);
}

.tiva-timetable .timetable-week .timetable-column .timetable-column-content .timetable-title-wrap {
  -ms-transform: translate(-50%, -50%);
}

.tiva-timetable .timetable-list .timetable-day:last-child, .tiva-timetable .timetable-list .timetable-content {
  border-image: none;
}

.tiva-timetable table.timetable-month, .tiva-timetable .timetable-list .timetable-content {
  border-right-style: solid;
}

.timetable-popup .popup-body .timetable-image img {
  max-width: 100%;
}

.tiva-timetable .timetable-week .timetable-column .timetable-column-content .timetable-title-wrap {
  -o-transform: translate(-50%, -50%);
}

.tiva-timetable table.timetable-month th {
  border-top-color: #d1d1d1;
}

.tiva-timetable .timetable-list .timetable-content {
  border-right-width: 1px;
}

.tiva-timetable .timetable-list .timetable-item .timetable-color {
  top: 9px;
}

.timetable-popup .popup-body .timetable-image img {
  margin-bottom: 11.25pt;
}

.tiva-timetable table.timetable-month th {
  border-image: none;
}

.tiva-timetable .timetable-list .timetable-item .timetable-color {
  left: 0;
}

.time-navigation {
  margin-bottom: 30px;
}

.tiva-timetable .timetable-list .timetable-item .timetable-color {
  width: 5.25pt;
}

.tiva-timetable .timetable-list .timetable-item, .timetable-popup {
  position: relative;
}

.tiva-timetable .timetable-list .timetable-item .timetable-color {
  height: 7px;
}

.tiva-timetable .timetable-week .timetable-column .timetable-column-content .timetable-title-wrap {
  transform: translate(-50%, -50%);
}

.tiva-timetable table.timetable-month td {
  border-left-width: .010416667in;
}

.tiva-timetable .timetable-week .timetable-column .timetable-column-content .timetable-title-wrap {
  width: 100%;
}

.tiva-timetable table.timetable-month td.calendar-day.today, .tiva-timetable table.timetable-month td.calendar-day {
  padding-bottom: .3125pc;
}

.timetable-popup .popup-header {
  color: #fff;
}

.tiva-timetable .timetable-week .timetable-column .timetable-column-content .timetable-title-wrap {
  max-width: 90%;
}

.tiva-timetable .timetable-list .timetable-item .timetable-color {
  border-radius: .9375pc;
}

.tiva-timetable .timetable-week .timetable-column .timetable-column-content .timetable-title-wrap {
  overflow: hidden;
}

.tiva-timetable .timetable-week .timetable-column .timetable-column-content .timetable-name {
  font-size: 10.5pt;
}

.tiva-timetable .timetable-week .timetable-column .timetable-column-content .timetable-name {
  line-height: .875pc;
}

.tiva-timetable table.timetable-month td {
  border-bottom-width: .010416667in;
}

.timetable-popup {
  background: #fff;
}

.timetable-popup {
  width: auto;
}

.tiva-timetable .timetable-list .timetable-content {
  border-right-color: #d1d1d1;
}

.tiva-timetable .timetable-list .timetable-item, .tiva-timetable .timetable-month .timetable-item {
  text-align: left;
}

.timetable-popup .popup-header {
  font-weight: 400;
}

.tiva-timetable .timetable-week .timetable-column .timetable-column-content .timetable-name, .tiva-timetable .timetable-week .timetable-column .timetable-column-content .timetable-time {
  white-space: nowrap;
}

.tiva-timetable table.timetable-month td, .tiva-timetable .timetable-week .timetable-column .timetable-column-grid  .grid-item {
  border-right-width: .010416667in;
}

.tiva-timetable .timetable-list .timetable-item .timetable-color {
  -moz-border-radius: .15625in;
}

.tiva-timetable .timetable-list .timetable-item .timetable-color {
  -webkit-border-radius: .9375pc;
}

.tiva-timetable .timetable-list .timetable-item, .tiva-timetable .timetable-week .timetable-column .timetable-column-content .timetable-name {
  margin-bottom: .083333333in;
}

.timetable-popup .popup-header {
  border-top-left-radius: .03125in;
}

.tiva-timetable .timetable-list .timetable-item .timetable-color {
  -webkit-transition: all .3s ease 0s;
}

.tiva-timetable .timetable-list .timetable-item .timetable-color {
  -o-transition: all .3s ease 0s;
}

.tiva-timetable table.timetable-month td {
  border-top-width: .010416667in;
}

.tiva-timetable table.timetable-month td, .tiva-timetable .timetable-week .timetable-column .timetable-column-grid  .grid-item.first-column {
  border-left-style: solid;
}

.tiva-timetable .timetable-list .timetable-item .timetable-color {
  transition: all .3s ease 0s;
}

.tiva-timetable .timetable-list .timetable-item .timetable-title {
  font-size: .9375pc;
}

.tiva-timetable .timetable-list .timetable-item .timetable-title, .tiva-timetable table.timetable-month td.calendar-day {
  line-height: 1.25pc;
}

.timetable-popup {
  max-width: 500px;
}

.tiva-timetable table.timetable-month td {
  border-bottom-style: solid;
}

.timetable-popup .popup-header {
  border-top-right-radius: .03125in;
}

.tiva-timetable .timetable-week .timetable-column .timetable-column-content .timetable-time {
  font-size: 13px;
}

.timetable-popup .popup-body {
  padding-left: 1.875pc;
}

.tiva-timetable .timetable-list .timetable-item {
  padding-left: .15625in;
}

.tiva-timetable table.timetable-month td.calendar-day {
  padding-right: 10px;
}

.timetable-popup .popup-body {
  padding-bottom: 1.875pc;
}

.tiva-timetable table.timetable-month td.calendar-day {
  padding-top: 3.75pt;
}

.tiva-timetable .timetable-week .timetable-column .timetable-column-content .timetable-time {
  line-height: .135416667in;
}

.tiva-timetable .timetable-month .calendar-daycounter {
  margin-bottom: 10px;
}

.timetable-popup .popup-body {
  padding-right: 1.875pc;
}

.tiva-timetable .timetable-week .timetable-column .timetable-column-grid  .grid-item, .tiva-timetable table.timetable-month td {
  border-right-style: solid;
}

.timetable-popup .popup-body {
  padding-top: 1.875pc;
}

.tiva-timetable .timetable-list .timetable-item .timetable-name, .tiva-timetable .timetable-list .timetable-item .timetable-time, .timetable-popup .popup-body {
  color: #535353;
}

.timetable-popup .popup-body {
  text-align: center;
}

.my-mfp-zoom-in .zoom-anim-dialog {
  opacity: 0;
}

.tiva-timetable .timetable-week .timetable-column .timetable-column-content .timetable-time {
  margin-bottom: 1px;
}

.tiva-timetable .timetable-list .timetable-item .timetable-title {
  text-decoration: none;
}

.tiva-timetable .timetable-list .timetable-item .timetable-title {
  outline: none;
}

.tiva-timetable .timetable-month .timetable-item {
  margin-bottom: .052083333in;
}

.tiva-timetable table.timetable-month td, .tiva-timetable table.timetable-month {
  border-top-style: solid;
}

.tiva-timetable table.timetable-month td {
  border-left-color: #d1d1d1;
}

.tiva-timetable .timetable-month .timetable-item {
  position: relative;
}

.timetable-popup {
  margin-left: auto;
}

.tiva-timetable .timetable-week .timetable-column .timetable-column-grid  .grid-item {
  border-right-color: #e8e8e8;
}

.tiva-timetable table.timetable-month td.calendar-day {
  height: 3.75pc;
}

.timetable-popup {
  margin-bottom: 1.25pc;
}

.tiva-timetable table.timetable-month td {
  border-bottom-color: #d1d1d1;
}

.my-mfp-zoom-in .zoom-anim-dialog {
  -webkit-transition: all .2s ease-in-out;
}

.timetable-popup {
  margin-right: auto;
}

.my-mfp-zoom-in .zoom-anim-dialog {
  -moz-transition: all .2s ease-in-out;
}

.tiva-timetable .timetable-month .timetable-item {
  padding-left: .8125pc;
}

.tiva-timetable .timetable-week .timetable-column .timetable-column-grid  .grid-item {
  border-image: none;
}

.tiva-timetable .timetable-week .timetable-column .timetable-column-grid  .grid-item {
  border-bottom-width: .010416667in;
}

.timetable-popup {
  margin-top: 1.25pc;
}

.timetable-popup {
  border-radius: 2.25pt;
}

.timetable-popup .popup-header.color-1, .tiva-timetable .timetable-week .timetable-column .timetable-title.color-1, .tiva-timetable .timetable-month .timetable-item .timetable-color.color-1, .tiva-timetable .timetable-list .timetable-item .timetable-color.color-1 {
  background: #5fb3b3;
}

.timetable-popup {
  -moz-border-radius: .1875pc;
}

.tiva-timetable table.timetable-month td {
  border-right-color: #d1d1d1;
}

.tiva-timetable .timetable-week .timetable-column .timetable-column-grid  .grid-item {
  border-bottom-style: solid;
}

.my-mfp-zoom-in .zoom-anim-dialog {
  -o-transition: all .2s ease-in-out;
}

.tiva-timetable .timetable-list .timetable-item .timetable-time {
  font-weight: bold;
}

.tiva-timetable .timetable-week .timetable-column .timetable-column-grid  .grid-item {
  border-bottom-color: #e8e8e8;
}

.tiva-timetable .timetable-list .timetable-item .timetable-time {
  margin-right: .625pc;
}

.my-mfp-zoom-in .zoom-anim-dialog {
  transition: all .2s ease-in-out;
}

.tiva-timetable table.timetable-month td {
  border-top-color: #d1d1d1;
}

.tiva-timetable .timetable-week .timetable-column .timetable-column-grid  .grid-item {
  height: 3.375pc;
}

.tiva-timetable .timetable-month .timetable-item .timetable-color.color-2, .tiva-timetable .timetable-week .timetable-column .timetable-title.color-2, .timetable-popup .popup-header.color-2 {
  background: #69c;
}

.tiva-timetable .timetable-week .timetable-column .timetable-column-grid  .grid-item {
  -webkit-box-sizing: content-box;
}

.my-mfp-zoom-in .zoom-anim-dialog {
  -webkit-transform: scale(.8);
}

.tiva-timetable .timetable-month .today .calendar-daycounter, .timetable-popup {
  -webkit-border-radius: .03125in;
}

.tiva-timetable .timetable-month .today .calendar-daycounter {
  background: #37474F;
}

.my-mfp-zoom-in .zoom-anim-dialog {
  -moz-transform: scale(.8);
}

.timetable-popup .popup-header.color-3 {
  background: #f5d76a;
}

.tiva-timetable .timetable-month .today .calendar-daycounter {
  padding-left: .052083333in;
}

.tiva-timetable .timetable-month .timetable-item .timetable-color.color-3, .timetable-popup .popup-header.color-3 {
  color: #666;
}

.tiva-timetable .timetable-month .today .calendar-daycounter {
  padding-bottom: 0;
}

.tiva-timetable .timetable-week .timetable-column .timetable-column-grid  .grid-item {
  -moz-box-sizing: content-box;
}

.tiva-timetable .timetable-week .timetable-column .timetable-column-grid  .grid-item {
  box-sizing: content-box;
}

.timetable-popup .popup-header.color-4 {
  background: #e78b6c;
}

.timetable-popup {
  box-shadow: 0 0 1.375pc 0 rgba(0, 0, 0, .2);
}

.tiva-timetable table.timetable-month td {
  border-image: none;
}

.tiva-timetable table.timetable-month td.calendar-day.today {
  padding-right: 4.5pt;
}

.my-mfp-zoom-in .zoom-anim-dialog {
  -ms-transform: scale(.8);
}

.timetable-popup .popup-body .timetable-desc {
  text-align: justify;
}

.tiva-timetable table.timetable-month td.calendar-day.today {
  padding-top: .052083333in;
}

.tiva-timetable .timetable-week .timetable-column .timetable-column-header span, .timetable-popup .popup-body .timetable-desc {
  font-size: 14px;
}

.my-mfp-zoom-in .zoom-anim-dialog {
  -o-transform: scale(.8);
}

.my-mfp-zoom-in .zoom-anim-dialog {
  transform: scale(.8);
}

.tiva-timetable table.timetable-month {
  border-left-color: #d1d1d1;
}

.timetable-popup .popup-body .timetable-time {
  margin-bottom: 15px;
}

.tiva-timetable .timetable-month .today .calendar-daycounter {
  padding-right: .052083333in;
}

.tiva-timetable table.timetable-month {
  border-bottom-color: #d1d1d1;
}

.timetable-popup .popup-body .timetable-time {
  font-size: 1pc;
}

.timetable-popup .popup-body .timetable-time {
  color: #f15e6e;
}

.tiva-timetable .timetable-month .today .calendar-daycounter {
  padding-top: 0;
}

.timetable-popup {
  -webkit-box-shadow: 0 0 1.375pc 0 rgba(0, 0, 0, .2);
}

.tiva-timetable .timetable-month .today .calendar-daycounter {
  color: #fff;
}

.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
  opacity: 1;
}

.tiva-timetable .timetable-month .today .calendar-daycounter {
  border-radius: 3px;
}

.my-mfp-zoom-in.mfp-bg {
  opacity: 0;
}

.my-mfp-zoom-in.mfp-bg {
  -webkit-transition: opacity .3s ease-out;
}

.tiva-timetable table.timetable-month {
  border-right-color: #d1d1d1;
}

.tiva-timetable .timetable-month .today .calendar-daycounter {
  -moz-border-radius: .03125in;
}

.timetable-popup {
  font-family: "Lato", sans-serif;
}

.my-mfp-zoom-in.mfp-bg {
  -moz-transition: opacity .3s ease-out;
}

.tiva-timetable .timetable-month .today .calendar-daycounter {
  display: inline-block;
}

.tiva-timetable .timetable-week .timetable-column .timetable-column-grid  .grid-item.first-column {
  border-left-color: #e8e8e8;
}

.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
  -webkit-transform: scale(1);
}

.tiva-timetable .timetable-month .timetable-item .timetable-color {
  position: absolute;
}

.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
  -moz-transform: scale(1);
}

.my-mfp-zoom-in.mfp-bg {
  -o-transition: opacity .3s ease-out;
}

.tiva-timetable .timetable-list .timetable-item .timetable-color.color-2 {
  background: #69c;
}

.tiva-timetable .timetable-list .timetable-item .timetable-color.color-3, .tiva-timetable .timetable-month .timetable-item .timetable-color.color-3, .tiva-timetable .timetable-week .timetable-column .timetable-title.color-3 {
  background: #f5d76a;
}

.my-mfp-zoom-in.mfp-bg {
  transition: opacity .3s ease-out;
}

.tiva-timetable .timetable-month .timetable-item .timetable-color {
  top: 7px;
}

.tiva-timetable .timetable-month .timetable-item .timetable-color {
  left: 0;
}

.tiva-timetable .timetable-month .timetable-item .timetable-color {
  width: .072916667in;
}

.tiva-timetable .timetable-week .timetable-column .timetable-title.color-3, .tiva-timetable .timetable-list .timetable-item .timetable-color.color-3 {
  color: #666;
}

.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
  -ms-transform: scale(1);
}

.tiva-timetable .timetable-month .timetable-item .timetable-color {
  height: .4375pc;
}

.tiva-timetable .timetable-month .timetable-item .timetable-color {
  border-radius: .9375pc;
}

.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
  -o-transform: scale(1);
}

.tiva-timetable .timetable-month .timetable-item .timetable-color {
  -moz-border-radius: .15625in;
}

.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
  transform: scale(1);
}

.tiva-timetable .timetable-month .timetable-item .timetable-color {
  -webkit-border-radius: .9375pc;
}

.tiva-timetable .timetable-month .timetable-item .timetable-color {
  -webkit-transition: all .3s ease 0s;
}

.tiva-timetable .timetable-month .timetable-item .timetable-color {
  -o-transition: all .3s ease 0s;
}

.tiva-timetable table.timetable-month {
  border-top-color: #d1d1d1;
}

.tiva-timetable table.timetable-month, .tiva-timetable .timetable-week .timetable-column .timetable-column-grid  .grid-item.first-column {
  border-image: none;
}

.tiva-timetable .timetable-month .timetable-item .timetable-color {
  transition: all .3s ease 0s;
}

.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
  -webkit-transform: scale(.8);
}

.tiva-timetable .timetable-month .timetable-item .timetable-title {
  font-size: .8125pc;
}

.tiva-timetable .timetable-month .timetable-item .timetable-title {
  line-height: 1.25pc;
}

.tiva-timetable .timetable-month .timetable-item .timetable-title {
  text-decoration: none;
}

.tiva-timetable .timetable-month .timetable-item .timetable-title {
  outline: none;
}

.tiva-timetable .timetable-month .timetable-item .timetable-title {
  display: block;
}

.tiva-timetable .timetable-month .timetable-item .timetable-time {
  font-weight: bold;
}

.tiva-timetable .timetable-list .timetable-item .timetable-color.color-4, .tiva-timetable .timetable-week .timetable-column .timetable-title.color-4, .tiva-timetable .timetable-month .timetable-item .timetable-color.color-4 {
  background: #e78b6c;
}

.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
  -moz-transform: scale(.8);
}

.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
  -ms-transform: scale(.8);
}

.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
  -o-transform: scale(.8);
}

.tiva-timetable .timetable-month .timetable-item .timetable-time {
  margin-right: 3.75pt;
}

.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
  transform: scale(.8);
}

.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
  opacity: 0;
}

.my-mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: .5;
}

.tiva-timetable .timetable-month .timetable-item .timetable-time, .tiva-timetable .timetable-month .timetable-item .timetable-name {
  color: #535353;
}

.my-mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}

@media (max-width: 768px) {
  .tiva-timetable .timetable-week .timetable-axis {
    width: 37.5pt;
  }

  .tiva-timetable table.timetable-month .timetable-item .timetable-name, .tiva-timetable .timetable-week .timetable-column .timetable-column-header span {
    display: none;
  }

  .tiva-timetable .timetable-week.show-time .timetable-axis {
    padding-top: 27pt;
  }

  .tiva-timetable .timetable-week.show-time .timetable-column .timetable-column-header {
    height: 26px;
  }

  .tiva-timetable .timetable-week .timetable-columns {
    margin-left: 3.125pc;
  }

  .tiva-timetable .timetable-week.show-time .timetable-column .timetable-column-content {
    top: .479166667in;
  }

  .tiva-timetable .timetable-week .timetable-column .timetable-column-content .timetable-title-wrap {
    max-width: 80%;
  }

  .tiva-timetable .timetable-week .timetable-column .timetable-column-content .timetable-name {
    font-size: 13px;
  }

  .tiva-timetable .timetable-week .timetable-column .timetable-column-content .timetable-time {
    font-size: 12px;
  }
}

@media (max-width: 420px) {
  .tiva-timetable table.timetable-month th.timetable-header {
    font-size: .145833333in;
  }

  .tiva-timetable .timetable-month .timetable-item .timetable-color {
    top: 6.75pt;
  }

  .tiva-timetable .timetable-month .timetable-item .timetable-color {
    left: 0;
  }

  .tiva-timetable .timetable-month .timetable-item .timetable-color {
    width: .3125pc;
  }

  .tiva-timetable .timetable-month .timetable-item .timetable-color {
    height: 3.75pt;
  }

  .tiva-timetable table.timetable-month .timetable-item .timetable-time {
    font-size: 9px;
  }

  .tiva-timetable table.timetable-month td.calendar-day, .tiva-timetable table.timetable-month td.calendar-day.today {
    padding-left: 2.25pt;
  }

  .tiva-timetable .timetable-week .timetable-column .timetable-column-header, .tiva-timetable .timetable-week .timetable-axis .axis-item, .tiva-timetable .timetable-month .calendar-daycounter {
    font-size: .75pc;
  }

  .tiva-timetable table.timetable-month .timetable-item {
    padding-left: .4375pc;
  }

  .tiva-timetable table.timetable-month td.calendar-day.today, .tiva-timetable table.timetable-month td.calendar-day {
    padding-bottom: 0;
  }

  .tiva-timetable .timetable-week.show-time .timetable-axis, .tiva-timetable .timetable-week .timetable-axis {
    padding-top: 37px;
  }

  .tiva-timetable .timetable-week .timetable-column .timetable-column-content .timetable-title-wrap {
    max-width: 70%;
  }

  .tiva-timetable table.timetable-month td.calendar-day.today, .tiva-timetable table.timetable-month td.calendar-day {
    padding-right: .3125pc;
  }

  .tiva-timetable .timetable-week .timetable-column .timetable-column-content .timetable-name {
    font-size: .114583333in;
  }

  .tiva-timetable .timetable-week .timetable-column .timetable-column-content .timetable-time {
    font-size: 10px;
  }

  .tiva-timetable table.timetable-month td.calendar-day.today, .tiva-timetable table.timetable-month td.calendar-day {
    padding-top: .0625pc;
  }

  .time-navigation {
    margin-bottom: .9375pc;
  }
}
