.ui.star.rating .icon {
  width: 1.25em;
  height: auto;
  background: transparent;
  color: rgba(0, 0, 0, 0.15);
  text-shadow: none;
}

/* Active Star */

.ui.star.rating .active.icon {
  background: transparent !important;
  color: #37474F !important;
  text-shadow: 0px -1px 0px #37474F, -1px 0px 0px #37474F, 0px 1px 0px #37474F, 1px 0px 0px #37474F !important;
}

/* Selected Star */

.ui.star.rating .icon.selected,
.ui.star.rating .icon.selected.active {
  background: transparent !important;
  color: #37474F !important;
  text-shadow: 0px -1px 0px #37474F, -1px 0px 0px #37474F, 0px 1px 0px #37474F, 1px 0px 0px #37474F !important;
}
