<div class="page-header page-header-default">
  <div class="page-header-content">
    <div class="page-title">
      <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Home</span> - Payment Details</h4>
      <a class="heading-elements-toggle"><i class="icon-more"></i></a></div>
    <div class="heading-elements">
      <div class="heading-btn-group" >

      </div>
    </div>
  </div>

  <div class="breadcrumb-line"><a class="breadcrumb-elements-toggle"><i class="icon-menu-open"></i></a>
    <ul class="breadcrumb">
      <li><a [routerLink]="['/']"><i class="icon-home2 position-left"></i> Home</a></li>
      <li class="active">Payment</li>
    </ul>

    <app-settings></app-settings>
    <ul class="breadcrumb-elements">
      <li>
        <button type="button" class="btn bg-teal-400 daterange-rent">
          <i class="icon-calendar22 position-left"></i>
          <span></span>
          <b class="caret"></b>
        </button>
      </li>
    </ul>
  </div>
</div>
<div class="content">
  <div class="tabbable">

    <div class="panel panel-default">
      <div class="panel-body">
        <table class="table group-datatable-basic">
          <thead>
          <tr>
            <th>Expense Group</th>
            <th>Expense Item</th>
            <th>Date</th>
            <th>Amount</th>
            <th>User</th>
          </tr>
          </thead>
          <tbody>

          <tr *ngFor="let expense of rent_expenses;let last=last; let i=index">
            <td>
              {{expense?.expense_group?.expense_group}}
            </td>
            <td>
              {{expense?.expense_item?.expense_item}}
            </td>
            <td>
              {{expense?.date | date: 'dd/MM/yyyy'}}
            </td>
            <td>
              {{expense?.amount | currency: 'INR': true}}
            </td>
            <td>
              {{expense?.user?.firstName}}
            </td>
          </tr>
          <tr [hidden]="rent_expenses.length == 0">
            <td></td>
            <td></td>
            <td class="text-black">Total Paid Amount</td>
            <td class="text-black">{{rent_amount | currency: 'INR': true}}</td>
            <td></td>
          </tr>
          </tbody>
        </table>
        <div class="msg">
          {{rent_msg}}
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <app-footer></app-footer>
  <!-- /footer -->
</div>
