<div class="page-header page-header-default" *ngIf="show()">
  <div class="page-header-content">
    <div class="page-title">
      <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Home</span> - Expenses</h4>
      <a class="heading-elements-toggle"><i class="icon-more"></i></a></div>
  </div>

  <div class="breadcrumb-line"><a class="breadcrumb-elements-toggle"><i class="icon-menu-open"></i></a>
    <ul class="breadcrumb">
      <li><a [routerLink]="['/']"><i class="icon-home2 position-left"></i> Home</a></li>
      <li class="active">Expenses</li>
    </ul>
    <app-settings></app-settings>
    <ul class="breadcrumb-elements">
      <li hidden>
        <button type="button" class="btn bg-teal-400" id="spinner"><i
          class="icon-spinner4 spinner position-left"></i> Please wait loading data
        </button>
      </li>
      <li>
        <a data-toggle="modal"
                data-target="#model_rent" (click)="setDefaults()">
          Rent
        </a>
      </li>
      <li><a data-toggle="modal"
                  data-target="#model_salary" (click)="setDefaults()">
        Salary
      </a></li>
      <li><a data-toggle="modal"
                  data-target="#model_expense" (click)="setDefaults()">
        Expenses
      </a></li>
      <li><a data-toggle="modal"
                  data-target="#model_expense_items">
        Add Items
      </a></li>
      <li><a data-toggle="modal"
                  data-target="#model_expense_group" (click)="showGroup()">
        Create Groups
      </a></li>
    </ul>
  </div>
</div>
<div class="content">
  <div class="cbody">
    <div class="tabbable">
      <div class="panel panel-flat panel-white">
        <div class="panel-body">
          <div class="tabbable settings" *ngIf="show()">
            <div class="panel panel-flat">
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-4">
                    <div class="table-group">
                      <table class="table group-datatable-basic">
                        <thead>
                        <tr>
                          <th>Expense Group</th>
                          <th class="text-center">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let lgroup of groups;let last=last; let i=index">
                          <td>
                            {{lgroup.expense_group}}
                          </td>
                          <td class="text-center">
                            <ul class="icons-list" [hidden]="lgroup.rent || lgroup.salary">
                              <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                  <i class="icon-menu9"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                  <li><a (click)="editGroup(lgroup)" data-toggle="modal"
                                         data-target="#model_expense_group"><i class="icon-pencil7 position-left"></i>
                                    Edit</a></li>

                                </ul>
                              </li>
                            </ul>
                          </td>
                        </tr>

                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="table-item">
                      <table class="table item-datatable-basic">
                        <thead>
                        <tr>
                          <th>Expense Group</th>
                          <th>Expense Item</th>
                          <th>Expense Type</th>
                          <th class="text-center">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let eitem of items;let last=last; let i=index">
                          <td>
                            {{eitem.expense_group.expense_group}}
                          </td>
                          <td>{{eitem.expense_item}}</td>
                          <td>{{eitem.operation}}</td>
                          <td class="text-center">
                            <ul class="icons-list" [hidden]="eitem.rent || eitem.salary">
                              <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                  <i class="icon-menu9"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                  <li><a (click)="editItem(eitem)" data-toggle="modal"
                                         data-target="#model_expense_items"><i class="icon-pencil7 position-left"></i>
                                    Edit</a></li>
                                </ul>
                              </li>
                            </ul>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>


              </div>
            </div>
          </div>
          <div class="panel panel-default settings">
            <div class="panel-heading">
              <h6 class="panel-title">PG Rents<a class="heading-elements-toggle"><i
                class="icon-more"></i></a></h6>
              <div class="heading-elements">
                <ul class="icons-list">
                  <li>
                    <button type="button" class="btn btn-default daterange-rent">
                      <i class="icon-calendar22 position-left"></i>
                      <span></span>
                      <b class="caret"></b>
                    </button>
                  </li>
                </ul>
              </div>
            </div>

            <div class="panel-body">
              <table class="table group-datatable-basic">
                <thead>
                <tr>
                  <th>Expense Group</th>
                  <th>Expense Item</th>
                  <th>Expense Type</th>
                  <th>Date</th>
                  <th>Amount</th>
                  <th>User</th>
                  <th class="text-center">Actions</th>
                </tr>
                </thead>
                <tbody>

                <tr *ngFor="let expense of rent_expenses;let last=last; let i=index">
                  <td>
                    {{expense?.expense_group?.expense_group}}
                  </td>
                  <td>
                    {{expense?.expense_item?.expense_item}}
                  </td>
                  <td>
                    {{expense?.expense_item?.operation}}
                  </td>
                  <td>
                    {{expense?.date | date: 'dd/MM/yyyy'}}
                  </td>
                  <td>
                    {{expense?.amount | currency: 'INR': true}}
                  </td>
                  <td>
                    {{expense?.user?.firstName}}
                  </td>
                  <td class="text-center">
                    <ul class="icons-list">
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          <i class="icon-menu9"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                          <li><a (click)="editGroup(expense)" data-toggle="modal"
                                 data-target="#model_expense_group"><i class="icon-pencil7 position-left"></i>
                            Edit</a></li>

                        </ul>
                      </li>
                    </ul>
                  </td>
                </tr>
                <tr [hidden]="rent_expenses.length == 0">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td class="text-black">Total Amount</td>
                  <td class="text-black">{{rent_amount | currency: 'INR': true}}</td>
                  <td></td>
                  <td></td>
                </tr>
                </tbody>
              </table>
              <div class="msg">
                {{rent_msg}}
              </div>
            </div>
          </div>
          <div class="panel panel-default settings">
            <div class="panel-heading">
              <h6 class="panel-title">PG Staff Salary<a class="heading-elements-toggle"><i
                class="icon-more"></i></a></h6>
              <div class="heading-elements">
                <ul class="icons-list">
                  <li>
                    <button type="button" class="btn btn-default daterange-salary">
                      <i class="icon-calendar22 position-left"></i>
                      <span></span>
                      <b class="caret"></b>
                    </button>
                  </li>
                </ul>
              </div>
            </div>

            <div class="panel-body">
              <table class="table group-datatable-basic">
                <thead>
                <tr>
                  <th>Expense Group</th>
                  <th>Expense Item</th>
                  <th>Expense Type</th>
                  <th>Date</th>
                  <th>Amount</th>
                  <th>User</th>
                  <th class="text-center">Actions</th>
                </tr>
                </thead>
                <tbody>

                <tr *ngFor="let expense of salary_expenses;let last=last; let i=index">
                  <td>
                    {{expense?.expense_group?.expense_group}}
                  </td>
                  <td>
                    {{expense?.expense_item?.expense_item}}
                  </td>
                  <td>
                    {{expense?.expense_item?.operation}}
                  </td>
                  <td>
                    {{expense?.date | date: 'dd/MM/yyyy'}}
                  </td>
                  <td>
                    {{expense?.amount | currency: 'INR': true}}
                  </td>
                  <td>
                    {{expense?.user?.firstName}}
                  </td>
                  <td class="text-center">
                    <ul class="icons-list">
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          <i class="icon-menu9"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                          <li><a (click)="editGroup(expense)" data-toggle="modal"
                                 data-target="#model_expense_group"><i class="icon-pencil7 position-left"></i>
                            Edit</a></li>

                        </ul>
                      </li>
                    </ul>
                  </td>
                </tr>
                <tr [hidden]="salary_expenses.length == 0">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td class="text-black">Total Amount</td>
                  <td class="text-black">{{salry_amount | currency: 'INR': true}}</td>
                  <td></td>
                  <td></td>
                </tr>
                </tbody>
              </table>
              <div class="msg">
                {{salary_msg}}
              </div>
            </div>
          </div>
          <div class="panel panel-default settings">
            <div class="panel-heading">
              <h6 class="panel-title">Other Expenses<a class="heading-elements-toggle"><i
                class="icon-more"></i></a></h6>
              <div class="heading-elements">
                <ul class="icons-list">
                  <li>
                    <button type="button" class="btn btn-default daterange-remaining">
                      <i class="icon-calendar22 position-left"></i>
                      <span></span>
                      <b class="caret"></b>
                    </button>
                  </li>
                </ul>
              </div>
            </div>

            <div class="panel-body">
              <table class="table group-datatable-basic">
                <thead>
                <tr>
                  <th>Expense Group</th>
                  <th>Expense Item</th>
                  <th>Expense Type</th>
                  <th>Date</th>
                  <th>Amount</th>
                  <th>User</th>
                  <th class="text-center">Actions</th>
                </tr>
                </thead>
                <tbody>

                <tr *ngFor="let expense of remaining_expenses;let last=last; let i=index">
                  <td>
                    {{expense?.expense_group?.expense_group}}
                  </td>
                  <td>
                    {{expense?.expense_item?.expense_item}}
                  </td>
                  <td>
                    {{expense?.expense_item?.operation}}
                  </td>
                  <td>
                    {{expense?.date | date: 'dd/MM/yyyy'}}
                  </td>
                  <td>
                    {{expense?.amount | currency: 'INR': true}}
                  </td>
                  <td>

                  </td>
                  <td class="text-center">
                    <ul class="icons-list">
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          <i class="icon-menu9"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                          <li><a (click)="editGroup(expense)" data-toggle="modal"
                                 data-target="#model_expense_group"><i class="icon-pencil7 position-left"></i>
                            Edit</a></li>

                        </ul>
                      </li>
                    </ul>
                  </td>
                </tr>
                <tr [hidden]="remaining_expenses.length == 0">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td class="text-black">Total Amount</td>
                  <td class="text-black">{{remaining_amount | currency: 'INR': true}}</td>
                  <td></td>
                  <td></td>
                </tr>
                </tbody>
              </table>
              <div class="msg">
                {{remaining_msg}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <app-footer></app-footer>
  <!-- /footer -->
</div>


<!-- Info modal -->
<div id="model_rent" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-info">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h6 class="modal-title">Collect Rent</h6>
      </div>

      <div class="modal-body">
        <div class="form-group">
          <label>Date</label>
          <div class="input-group">
            <span class="input-group-addon"><i class="icon-calendar22"></i></span>
            <input type="text" name="rent_date" class="form-control daterange-single me_date"
                   [(ngModel)]="rent_expense.date">
          </div>
        </div>
        <div class="form-group">
          <label>Tenant</label>
          <select class="select rent_tenant">
            <option></option>
            <option *ngFor="let tenant of tenants;let last=last" value="{{tenant._id}}">
              {{tenant.firstName}}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label>Expense Group</label>
          <select class="select rent_group" disabled>
            <option></option>
            <option value="{{rent_group?._id}}">
              {{rent_group?.expense_group}}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label>Expense Item</label>
          <select class="select rent_item" disabled>
            <option></option>
            <option value="{{rent_item?._id}}">
              {{rent_item?.expense_item}}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label>Amount</label>
          <input type="text" class="form-control" [(ngModel)]="rent_expense.amount">
        </div>

        <div class="form-group">
          <label>Comments</label>
          <textarea type="text" class="form-control" [(ngModel)]="rent_expense.comments"></textarea>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-link btclose" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-info" (click)="add_rent()">Save</button>
      </div>
    </div>
  </div>
</div>
<!-- /info modal -->

<!-- Info modal -->
<div id="model_salary" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-info">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h6 class="modal-title">Paid Amount</h6>
      </div>

      <div class="modal-body">
        <div class="form-group">
          <label>Date</label>
          <div class="input-group">
            <span class="input-group-addon"><i class="icon-calendar22"></i></span>
            <input type="text" name="sl_date" class="form-control daterange-single sl_date"
                   [(ngModel)]="sl_expense.date">
          </div>
        </div>
        <div class="form-group">
          <label>Staff Member</label>
          <select class="select sl-staff">
            <option></option>
            <option *ngFor="let staff of staffmembers;let last=last" value="{{staff._id}}">
              {{staff.firstName}}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label>Expense Group</label>
          <select class="select sl_group" disabled>
            <option></option>
            <option value="{{sl_group?._id}}">
              {{sl_group?.expense_group}}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label>Expense Item</label>
          <select class="select sl_item">
            <option></option>
            <option value="{{sl_item?._id}}">
              {{sl_item?.expense_item}}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label>Amount</label>
          <input type="text" class="form-control" [(ngModel)]="sl_expense.amount">
        </div>

        <div class="form-group">
          <label>Comments</label>
          <textarea type="text" class="form-control" [(ngModel)]="sl_expense.comments"></textarea>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-link btclose" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-info" (click)="add_salary()">Save</button>
      </div>
    </div>
  </div>
</div>
<!-- /info modal -->

<!-- Info modal -->
<div id="model_expense_items" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-info">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h6 class="modal-title">Add Item</h6>
      </div>

      <div class="modal-body">
        <div class="form-group">
          <label>Expense Group</label>
          <select data-placeholder="Operation Type" class="select group"
                  [(ngModel)]="item.expense_group" id="group">
            <option></option>
            <option *ngFor="let group of (groups | filterBy: ['rent']:false ) ;let last=last"
                    value="{{group._id}}">
              {{group.expense_group}}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label>Expense Item</label>
          <input type="text" class="form-control" [(ngModel)]="item.expense_item">
        </div>

        <div class="form-group">
          <label>Expense Type</label>
          <select data-placeholder="Operation Type" class="select expense_type"
                  [(ngModel)]="item.operation" id="expense_type">
            <option></option>
            <option value="Credit">Credit</option>
            <option value="Debit">Debit</option>
          </select>
        </div>
        <div class="form-group">
          <label>Comments</label>
          <textarea type="text" class="form-control" [(ngModel)]="item.comments"></textarea>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-link btclose" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-info" (click)="add_item()">Save</button>
      </div>
    </div>
  </div>
</div>
<!-- /info modal -->

<!-- Info modal -->
<div id="model_expense_group" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-info">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h6 class="modal-title">Create Group</h6>
      </div>

      <div class="modal-body">
        <div class="form-group">
          <label>Expense Group</label>
          <input type="text" class="form-control" [(ngModel)]="group.expense_group">
        </div>
        <div class="form-group">
          <label>Comments</label>
          <textarea type="text" class="form-control" [(ngModel)]="group.comments"></textarea>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-link btclose" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-info" (click)="create_group()">Save</button>
      </div>
    </div>
  </div>
</div>
<!-- /info modal -->

<!-- Info modal -->
<div id="model_expense" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-info">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h6 class="modal-title">Add Expense</h6>
      </div>

      <div class="modal-body">
        <div class="form-group">
          <label>Date</label>
          <div class="input-group">
            <span class="input-group-addon"><i class="icon-calendar22"></i></span>
            <input type="text" class="form-control daterange-single me_date" [(ngModel)]="expense.date">
          </div>
        </div>
        <div class="form-group">
          <label>Expense Group</label>
          <select data-placeholder="Operation Type" class="select me_group"
                  [(ngModel)]="item.expense_group">
            <option></option>
            <option
              *ngFor="let group of (groups | filterBy: ['rent']:false | filterBy: ['salary']:false );let last=last"
              value="{{group._id}}">
              {{group.expense_group}}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label>Expense Item</label>
          <select data-placeholder="Operation Type" class="select me_item"
                  [(ngModel)]="item.expense_group">
            <option></option>
            <option *ngFor="let expense_item of expense_items;let last=last"
                    value="{{expense_item._id}}">
              {{expense_item.expense_item}}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label>Amount</label>
          <input type="text" class="form-control" [(ngModel)]="expense.amount">
        </div>

        <div class="form-group">
          <label>Comments</label>
          <textarea type="text" class="form-control" [(ngModel)]="expense.comments"></textarea>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-link btclose" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-info" (click)="add_expense()">Save</button>
      </div>
    </div>
  </div>
</div>
<!-- /info modal -->
