.carousel-control.left, .carousel-control.right {
  background-image: none;
}

.carousel-control>.fa {
  font-size: 40px;
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  margin-top: -20px;
}

.owl-carousel .owl-wrapper-outer {
  overflow: hidden;
  position: relative;
  width: 100%;
}
.no-color-thead {
  background-color: white !important;
  border-color: white !important;
  color: #fff;
}
.table > tbody > tr > td{
  padding: 10px 0px !important;
}
