<!--
<main-navbar *ngIf="show()"></main-navbar>
<router-outlet></router-outlet>
<app-footer *ngIf="show()"></app-footer>
-->

<main-navbar></main-navbar>

<!-- Page container -->
<div class="page-container">

  <!-- Page content -->
  <div class="page-content">

    <!-- Main sidebar -->
    <div class="sidebar sidebar-main" [hidden]="showLeftMenu()">
      <div class="sidebar-content">

        <!-- User menu -->
        <div class="sidebar-user">
          <div class="category-content">
            <div class="media">
              <a href="#" class="media-left"><img [src]="getImage(user?.profileImg)" class="img-circle img-sm"
                                                  alt=""></a>
              <div class="media-body">
                <span class="media-heading text-semibold">{{user?.displayName}}</span>
                <div class="text-size-mini text-muted">
                  <i class="icon-pin text-size-small"></i> &nbsp;{{user?.city?.name}}
                </div>
              </div>

              <div class="media-right media-middle">
                <ul class="icons-list">
                  <li>
                    <a class="dropdown-toggle" data-toggle="dropdown"><i class="icon-cog3"></i></a>
                    <ul class="dropdown-menu dropdown-menu-right">
                      <li [routerLinkActive]="['active']"><a routerLink="/user/profile"><i class="icon-user-plus"></i> My
                        profile</a></li>
                      <li [routerLinkActive]="['active']"><a routerLink="/dashboard"><i
                        class="icon-display4 position-left"></i> Dashboard</a></li>
                      <!--<li [routerLinkActive]="['active']"><a href="#"><span class="badge badge-warning pull-right">58</span> <i
                        class="icon-comment-discussion"></i>
                        Messages</a></li>-->
                      <li [routerLinkActive]="['active']">
                        <a data-target="#change_password" data-toggle="modal">
                          <i class="icon-history position-left"></i>
                          <span>Change Password</span>
                        </a>
                      </li>
                      <li class="divider"></li>
                      <!--<li [routerLinkActive]="['active']"><a href="#"><i class="icon-cog5"></i> Account settings</a></li>-->
                      <li [routerLinkActive]="['active']"><a routerLinkActive="active" (click)="onLogout()"
                                                             *ngIf="isLoggedIn()"><i class="icon-switch2"></i>
                        Logout</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- /user menu -->


        <!-- Main navigation -->
        <div class="sidebar-category sidebar-category-visible">
          <div class="category-content no-padding">
            <ul class="navigation navigation-main navigation-accordion">
              <li [routerLinkActive]="['active']" *ngIf="(user!=null && user?.role!='user')|| user == null">
                <a routerLink="/dashboard"><i class="icon-home4 position-left"></i> <span>Dashboard</span></a></li>
              <li [routerLinkActive]="['active']"
                  *ngIf="(user?.role =='superadmin' || user?.role =='admin' || user?.role == 'pgowner') || user == null">
                <a routerLink="/user/profile"><i class="icon-profile position-left"></i>
                  <span>My Profile</span></a></li>
              <li [routerLinkActive]="['active']"
                  *ngIf="(user?.role =='superadmin' || user?.role =='admin' || user?.role == 'pgowner') || user == null">
                <a>
                  <i class="icon-users4"></i> <span>User Management</span>
                </a>
                <ul
                  *ngIf="(user?.role =='superadmin' || user?.role =='admin' || user?.role == 'pgowner') || user == null">
                  <li *ngIf="(user?.role =='superadmin') || user == null" [routerLinkActive]="['active']">
                    <a [routerLink]="['/user/superadmins']"><i class="icon-task"></i> <span>Super
                      Admins</span></a>
                  </li>
                  <li *ngIf="(user?.role != 'pgowner')|| user == null" [routerLinkActive]="['active']">
                    <a [routerLink]="['/user/admins']"><i class="icon-task"></i> <span>Admins</span></a>
                  </li>
                  <li *ngIf="(user?.role !='pgowner')|| user == null" [routerLinkActive]="['active']">
                    <a [routerLink]="['/user/pgowners']"><i class="icon-task"></i> <span>PG Owners</span></a>
                  </li>
                  <li *ngIf="(user?.role != 'pgowner') || user == null" [routerLinkActive]="['active']">
                    <a [routerLink]="['/user/users']"><i class="icon-task"></i> <span>Users</span></a>
                  </li>
                  <li [routerLinkActive]="['active']">
                    <a [routerLink]="['/user/tenants']"><i class="icon-task"></i><span>Tenants</span></a>
                  </li>
                  <li [routerLinkActive]="['active']">
                    <a [routerLink]="['/user/staff']"><i class="icon-task"></i> <span>Staff</span></a>
                  </li>
                </ul>
              </li>
              <li *ngIf="(user?.role =='superadmin' || user?.role =='admin' || user?.role == 'pgowner') || user == null"
                  [routerLinkActive]="['active']">
                <a>
                  <i class="icon-office position-left"></i> <span>PG Management</span>
                </a>

                <ul>
                  <li [routerLinkActive]="['active']">
                    <a [routerLink]="['/user/viewpgs']"><i class="icon-task position-left"></i>
                      <span>View PG</span></a>
                  </li>
                  <!-- <li [routerLinkActive]="['active']">
                    <a [routerLink]="['/user/addpg']"><i
                      class=" icon-user-plus position-left"></i> <span>Add PG</span></a>
                  </li> -->

                </ul>
              </li>
              <li *ngIf="(user?.role == 'pgowner') || user == null" [routerLinkActive]="['active']">
                <a routerLink="/user/expenses">
                  <i class="icon-credit-card position-left"></i> Expenses</a>
              </li>
              <li *ngIf="(user?.role =='superadmin' || user?.role =='admin' || user?.role == 'pgowner') || user == null"
                  [routerLinkActive]="['active']">
                <a routerLink="/user/food/list">
                  <i class="glyphicon glyphicon-cutlery position-left"></i> <span>Food</span></a>
              </li>
              <li *ngIf="(user?.role =='superadmin' || user?.role =='admin' || user?.role == 'pgowner') || user == null"
                  [routerLinkActive]="['active']">
                <a routerLink="/user/rules"><i
                  class=" icon-rulers position-left"></i>
                  <span>Rules</span></a>
              </li>

              <li *ngIf="(user?.role =='superadmin' || user?.role =='admin' || user?.role == 'pgowner') || user == null"
                  [routerLinkActive]="['active']">
                <a>
                  <i class="icon-clipboard3 position-left"></i> <span>Requests</span>
                </a>
                <ul>
                  <li [routerLinkActive]="['active']">
                    <a routerLink="/user/food/requests">
                      <i class="icon-list3 position-left"></i>
                      Food Requests
                <span class="badge bg-warning-400"
                      *ngIf="request_count != 0 ">{{request_count}}</span>
                    </a>
                  </li>
                  <li [routerLinkActive]="['active']">
                    <a routerLink="/user/requests/service">
                      <i class=" icon-compose position-left"></i>
                      <span>Service Requests</span>
                <span class="badge bg-warning-400"
                      *ngIf="request_count != 0 ">{{request_count}}</span>
                    </a>
                  </li>
                </ul>
              </li>

              <li *ngIf="(user?.role =='tenant') || user == null" [routerLinkActive]="['active']">
                <a routerLink="/user/profile">
                  <i class=" icon-profile position-left"></i>
                  <span>My Profile</span>
                </a>

              </li>
              <li *ngIf="(user?.role =='tenant') || user == null" [routerLinkActive]="['active']">
                <a routerLink="/user/package">
                  <i class="icon-clipboard3 position-left"></i>
                  <span>My Package</span>
                </a>

              </li>
              <li *ngIf="(user?.role =='tenant') || user == null" [routerLinkActive]="['active']">
                <a routerLink="/user/food/view">
                  <i class="glyphicon glyphicon-cutlery position-left"></i> <span>Food</span></a>
              </li>
              <li *ngIf="(user?.role =='tenant') || user == null" [routerLinkActive]="['active']">
                <a routerLink="/user/food/requests">
                  <i class="icon-list3 position-left"></i>
                  <span>Food Request</span>
                </a>
              </li>
              <li *ngIf="(user?.role =='tenant') || user == null" [routerLinkActive]="['active']">
                <a routerLink="/user/service/requests">
                  <i class=" icon-compose position-left"></i>
                  <span>Service Requests</span>
                </a>
              </li>
              <li *ngIf="(user?.role =='pgstaff') || user == null" [routerLinkActive]="['active']">
                <a routerLink="/user/staff/payment">
                  <i class=" icon-cash position-left"></i>
                  <span>Payments</span>
                </a>
              </li>
              <li *ngIf="(user?.role =='tenant') || user == null" [routerLinkActive]="['active']">
                <a routerLink="/user/tenant/payment">
                  <i class=" icon-cash position-left"></i>
                  <span>Payments</span>
                </a>
              </li>
              <li hidden *ngIf="(user?.role =='tenant') || user == null" [routerLinkActive]="['active']">
                <a routerLink="/user/wallet">
                  <i class="icon-clipboard3 position-left"></i>
                  <span>My Wallet</span>
                </a>
              </li>

              <li *ngIf="(user?.role =='tenant') || user == null" [routerLinkActive]="['active']">
                <a routerLink="/user/referrals">
                  <i class=" icon-share4 position-left"></i>
                  <span>My Referrals</span>
                </a>
              </li>
              <li *ngIf="(user?.role =='tenant') || user == null" [routerLinkActive]="['active']">
                <a routerLink="/user/feedback">
                  <i class=" icon-medal-star position-left"></i>
                  <span>Ratings/Feedback</span>
                </a>
              </li>

              <li *ngIf="(user?.role =='superadmin' || user?.role =='admin' || user?.role == 'pgowner') || user == null"
                  [routerLinkActive]="['active']">
                <a routerLink="/user/notifications/email">
                  <i
                    class=" icon-bubbles5 position-left"></i> <span>Notifications</span></a>
              </li>

              <li *ngIf="user?.role =='superadmin' || user?.role =='admin'"
                  [routerLinkActive]="['active']">
                <a>
                  <i class="icon-gear position-left"></i> <span>Settings</span>
                </a>
                <ul>
                  <li [routerLinkActive]="['active']">
                    <a [routerLink]="['/config/mail']">
                      <i class=" icon-mailbox position-left"></i><span>Mail Configuration</span></a>
                  </li>
                  <li [routerLinkActive]="['active']">
                    <a [routerLink]="['/mail_templates']">
                      <i class=" icon-mailbox position-left"></i><span>Mail Templates</span></a>
                  </li>
                  <li [routerLinkActive]="['active']">
                    <a [routerLink]="['/config/sms']">
                      <i class="icon-comments position-left"></i><span>SMS Configuration</span></a>
                  </li>
                  <li [routerLinkActive]="['active']">
                    <a [routerLink]="['/sms_templates']">
                      <i class=" icon-mailbox position-left"></i><span>SMS Templates</span></a>
                  </li>
                  <li [routerLinkActive]="['active']">
                    <a [routerLink]="['/mongo']">
                      <i class=" icon-database2 position-left"></i><span>Application Database</span></a>
                  </li>
                  <li [routerLinkActive]="['active']">
                    <a [routerLink]="['/config']">
                      <i class=" icon-gear position-left"></i><span>Configurations</span></a>
                  </li>
                  <li [routerLinkActive]="['active']">
                    <a [routerLink]="['/changelog']">
                      <i class="icon-history position-left"></i>
                      <span>Changelog</span>
                      <span class="label label-inline position-right bg-blue-400">1.0</span>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <!-- /main navigation -->

      </div>
    </div>
    <!-- /main sidebar -->

    <div class="content-wrapper">
      <router-outlet></router-outlet>
      <!--<div class="row">
        <div class="col-md-3">
          <div class="chat-container" style="right:22%;">
            <div class="chat-box" id="chat-box-1">
              <div class="panel panel-flat" id="chat-box-panel-1">
                <div class="panel-heading">
                  <h5 class="panel-title">Chatting with James<a class="heading-elements-toggle"><i
                    class="icon-more"></i></a>
                  </h5>
                  <div class="heading-elements">
                    <ul class="icons-list">
                      <li><a data-action="collapse" class=""></a></li>
                      <li><a data-action="close"></a></li>
                    </ul>
                  </div>
                </div>

                <div class="panel-body">
                  <ul class="media-list chat-list content-group">
                    <li class="media reversed">
                      <div class="media-body">
                        <div class="media-content">Satisfactorily strenuously while sleazily</div>
                        <span class="media-annotation display-block mt-10">2 hours ago</span>
                      </div>

                      <div class="media-right">
                        <a href="assets/images/demo/images/3.png">
                          <img src="assets/images/demo/users/face1.jpg" class="img-circle img-md" alt="">
                        </a>
                      </div>
                    </li>

                    <li class="media">
                      <div class="media-left">
                        <a href="assets/images/demo/images/3.png">
                          <img src="assets/images/demo/users/face11.jpg" class="img-circle img-md" alt="">
                        </a>
                      </div>

                      <div class="media-body">
                        <div class="media-content">Grunted smirked and grew.</div>
                        <span class="media-annotation display-block mt-10">13 minutes ago</span>
                      </div>
                    </li>

                    <li class="media reversed">
                      <div class="media-body">
                        <div class="media-content"><i class="icon-menu display-block"></i></div>
                      </div>

                      <div class="media-right">
                        <a href="assets/images/demo/images/3.png">
                          <img src="assets/images/demo/users/face1.jpg" class="img-circle img-md" alt="">
                        </a>
                      </div>
                    </li>
                  </ul>

          <textarea name="enter-message" class="form-control content-group" rows="3" cols="1"
                    placeholder="Enter your message..."></textarea>

                  <div class="row">
                    <div class="col-xs-6">
                      <ul class="icons-list icons-list-extended mt-10">
                        <li><a href="#" data-popup="tooltip" data-container="body" title=""
                               data-original-title="Send photo"><i
                          class="icon-file-picture"></i></a></li>
                        <li><a href="#" data-popup="tooltip" data-container="body" title=""
                               data-original-title="Send video"><i
                          class="icon-file-video"></i></a></li>
                        <li><a href="#" data-popup="tooltip" data-container="body" title=""
                               data-original-title="Send file"><i
                          class="icon-file-plus"></i></a></li>
                      </ul>
                    </div>

                    <div class="col-xs-6 text-right">
                      <button type="button" class="btn bg-teal-400-right"><b><i
                        class="icon-circle-right2 position-right"></i></b> Send
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="chat-container">
            <div class="chat-box" id="chat-box-2">
              <div class="panel panel-flat" id="chat-box-panel-2">
                <div class="panel-heading">
                  <h5 class="panel-title">Chatting with James<a class="heading-elements-toggle"><i
                    class="icon-more"></i></a>
                  </h5>
                  <div class="heading-elements">
                    <ul class="icons-list">
                      <li><a data-action="collapse" class=""></a></li>
                      <li><a data-action="close"></a></li>
                    </ul>
                  </div>
                </div>

                <div class="panel-body">
                  <ul class="media-list chat-list content-group">
                    <li class="media reversed">
                      <div class="media-body">
                        <div class="media-content">Satisfactorily strenuously while sleazily</div>
                        <span class="media-annotation display-block mt-10">2 hours ago</span>
                      </div>

                      <div class="media-right">
                        <a href="assets/images/demo/images/3.png">
                          <img src="assets/images/demo/users/face1.jpg" class="img-circle img-md" alt="">
                        </a>
                      </div>
                    </li>

                    <li class="media">
                      <div class="media-left">
                        <a href="assets/images/demo/images/3.png">
                          <img src="assets/images/demo/users/face11.jpg" class="img-circle img-md" alt="">
                        </a>
                      </div>

                      <div class="media-body">
                        <div class="media-content">Grunted smirked and grew.</div>
                        <span class="media-annotation display-block mt-10">13 minutes ago</span>
                      </div>
                    </li>

                    <li class="media reversed">
                      <div class="media-body">
                        <div class="media-content"><i class="icon-menu display-block"></i></div>
                      </div>

                      <div class="media-right">
                        <a href="assets/images/demo/images/3.png">
                          <img src="assets/images/demo/users/face1.jpg" class="img-circle img-md" alt="">
                        </a>
                      </div>
                    </li>
                  </ul>

          <textarea name="enter-message" class="form-control content-group" rows="3" cols="1"
                    placeholder="Enter your message..."></textarea>

                  <div class="row">
                    <div class="col-xs-6">
                      <ul class="icons-list icons-list-extended mt-10">
                        <li><a href="#" data-popup="tooltip" data-container="body" title=""
                               data-original-title="Send photo"><i
                          class="icon-file-picture"></i></a></li>
                        <li><a href="#" data-popup="tooltip" data-container="body" title=""
                               data-original-title="Send video"><i
                          class="icon-file-video"></i></a></li>
                        <li><a href="#" data-popup="tooltip" data-container="body" title=""
                               data-original-title="Send file"><i
                          class="icon-file-plus"></i></a></li>
                      </ul>
                    </div>

                    <div class="col-xs-6 text-right">
                      <button type="button" class="btn bg-teal-400-right"><b><i
                        class="icon-circle-right2 position-right"></i></b> Send
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>-->
    </div>

    <div>
      <div class="sidebar sidebar-opposite sidebar-default detached users-list" [hidden]="showLeftMenu()">
        <div class="sidebar-content">

          <!-- Sidebar search -->
          <div class="sidebar-category">

            <div class="category-content">
              <div class="has-feedback has-feedback-left">
                <input type="search" class="form-control search" placeholder="Search">
                <div class="form-control-feedback">
                  <i class="icon-search4 text-size-base text-muted"></i>
                </div>
              </div>
              <ul class="media-list" style="padding-left: 10px;">
                <table class="table datatable-users-list">
                  <thead class="no-color-thead">
                  <tr>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let user of users;">
                    <td>
                      <li>
                        <div class="media-left">
                          <a (click)="navigate(user)">
                            <img [src]="getImage(user?.profileImg)" class="img-xs img-circle" alt="">
                          </a>
                        </div>
                        <div class="media-body media-middle">
                          <a (click)="navigate(user)" class="media-heading text-semibold">{{user.firstName}}</a>
                      <span
                        class="text-size-mini text-muted display-block">
                        <span class="status-mark border-success position-left"></span>{{user.mobile}}</span>
                        </div>
                      </li>
                    </td>
                  </tr>

                  </tbody>
                </table>
              </ul>
            </div>
          </div>
          <!-- /sidebar search -->

        </div>
      </div>
    </div>

  </div>
  <!-- /page content -->

</div>
<!-- /page container -->



