.ui.segment,.box-header.with-border,.tenantbox{
  border:0px;
  border-radius:0px;
  box-shadow:none;
}
.imgIcon{
  margin-top: -10px;
}

.roomIcon{
  height: 50px;
  width: 50px;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
}
.ui.buttons{
  float: right;
}

.table-empty{
  text-align: center;
  color: #00B5AD;
  font-size: larger;
}
thead {
  background-color: #37474F;
  border-color: #37474F;
  color: #fff;
}
