  <div class="right floated">
    <button class="ui instagram button" (click)="showMailComponent()">
      Send Email
    </button>
  </div>
  <br/>
  <br/>
  <form class="form" #smsForm="ngForm" novalidate>
    <h4 class="ui dividing header">Send SMS </h4>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>Mobile Numbers</label>
          <input type="text" placeholder="To Mobile Number" name="mobile" class="form-control toSMStags" [(ngModel)]="sms.mobile">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>Message Body</label>
          <textarea rows="6" cols="6" class="form-control" name="body" placeholder="Enter your message here" [(ngModel)]="sms.body"></textarea>
        </div>
      </div>
    </div>
    <div class="ui buttons">
      <button class="ui instagram button" (click)="sendSMS()">Send SMS</button>
    </div>
  </form>
