.media-left img:not(.media-preview), .media-right img:not(.media-preview), .thumbnail .media img:not(.media-preview) {
  width: 125px;
  height: 125px;
  max-width: none;
}

.bg-info {
  background-color: #37474F!important;
  border-color: #37474F!important;
  color: #fff;
  text-align: center;
}

.callme{
  background-color: #00B5AD;
  color: #FFF;
  text-shadow: none;
  background-image: none;
}
.callmeb{
  font-weight: bold;
  background-color: #bdc3c7;
}
.bg-info{
  background-color: #37474F!important;
  border-color: #37474F!important;
  color: #fff;
  text-align: left;
}

.btn-info {
  color: #fff;
  background-color: #37474F !important;
  border-color: #37474F !important;
}
.ui.category.search .results {
  width: 28em !important;
}
