<!-- Second navbar -->
<div class="navbar navbar-default" id="navbar-second">
  <ul class="nav navbar-nav no-border visible-xs-block">
    <li><a class="text-center collapsed" data-toggle="collapse" data-target="#navbar-second-toggle"><i
      class="icon-menu7"></i></a></li>
  </ul>
  <div class="navbar-collapse collapse" id="navbar-filter" *ngIf="user!=null && user.role!='user'">
    <ul class="nav navbar-nav">
      <li *ngIf="user.role =='superadmin' || user.role =='admin'">
        <a routerLink="/dashboard" routerLinkActive="active"><i
          class="icon-display4 position-left"></i> Dashboard</a></li>
      <li class="active" *ngIf="user.role =='superadmin' || user.role =='admin' || user.role == 'pgowner'">
        <a routerLink="/user/profile" routerLinkActive="active"><i class="icon-menu7 position-left"></i>
          My Profile</a></li>
      <li *ngIf="user.role =='superadmin' || user.role =='admin' || user.role == 'pgowner'">
        <a routerLink="/user/alerts"
           routerLinkActive="active">
          <i class="icon-calendar3 position-left"></i> Schedule</a></li>
      <li class="dropdown" *ngIf="user.role =='superadmin' || user.role =='admin' || user.role == 'pgowner'">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <i class="icon-users4"></i> User Management <span class="caret"></span>
        </a>
        <ul class="dropdown-menu width-250" *ngIf="user.role =='admin' || user.role == 'pgowner'">
          <li *ngIf="user.role != 'pgowner'">
            <a [routerLink]="['/user/admins']" routerLinkActive="active"><i class="icon-task"></i> Admins</a>
          </li>
          <li *ngIf="user.role !='pgowner'">
            <a [routerLink]="['/user/pgowners']" routerLinkActive="active"><i class="icon-task"></i> PG Owners</a>
          </li>
          <li *ngIf="user.role != 'pgowner'">
            <a [routerLink]="['/user/users']" routerLinkActive="active"><i class="icon-task"></i> Users</a>
          </li>
          <li>
            <a [routerLink]="['/user/tenants']" routerLinkActive="active"><i class="icon-task"></i>Tenants</a>
          </li>
          <li>
            <a [routerLink]="['/user/staff']" routerLinkActive="active"><i class="icon-task"></i> Staff</a>
          </li>
        </ul>
      </li>
      <li class="dropdown" *ngIf="user.role =='superadmin' || user.role =='admin' || user.role == 'pgowner'">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <i class="icon-office position-left"></i> PG Management <span class="caret"></span>
        </a>

        <ul class="dropdown-menu width-250">
          <li class="dropdown-header">Tenants</li>
          <li>
            <a [routerLink]="['/user/viewpgs']" routerLinkActive="active"><i class="icon-task position-left"></i>
              View PG</a>
          </li>
          <li>
            <a [routerLink]="['/user/addpg']" routerLinkActive="active"><i
              class=" icon-user-plus position-left"></i> Add PG</a>
          </li>

        </ul>
      </li>
      <li *ngIf="user.role =='superadmin' || user.role =='admin' || user.role == 'pgowner'">
        <a routerLink="/user/food/list" routerLinkActive="active">
          <i class="glyphicon glyphicon-cutlery position-left"></i> Food</a>
      </li>
      <li *ngIf="user.role =='superadmin' || user.role =='admin' || user.role == 'pgowner'">
        <a routerLink="/user/reports"
           routerLinkActive="active">
          <i class="icon-stats-growth position-left">

          </i>
          Reports</a>
      </li>
      <li *ngIf="user.role =='superadmin' || user.role =='admin' || user.role == 'pgowner'">
        <a routerLink="/user/rules"
           routerLinkActive="active"><i
          class=" icon-rulers position-left"></i>
          Rules</a>
      </li>

      <li class="dropdown" *ngIf="user.role =='superadmin' || user.role =='admin' || user.role == 'pgowner'">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <i class="icon-clipboard3 position-left"></i> Requests <span class="caret"></span>
        </a>
        <ul class="dropdown-menu width-250">
          <li *ngIf="user.role =='superadmin' || user.role =='admin'">
            <a routerLink="/user/requests/pgsubscribe" routerLinkActive="active">
              <i class="icon-clipboard3 position-left"></i>
              PG Subscribe
                   <span _ngcontent-yuk-39="" class="badge bg-warning-400"
                         *ngIf="request_count != 0 ">{{request_count}}</span>
            </a>
          </li>
          <li>
            <a routerLink="/user/requests/food" routerLinkActive="active">
              <i class="icon-clipboard3 position-left"></i>
              Food Requests
                <span _ngcontent-yuk-39="" class="badge bg-warning-400"
                      *ngIf="request_count != 0 ">{{request_count}}</span>
            </a>
          </li>
          <li>
            <a routerLink="/user/requests/service" routerLinkActive="active">
              <i class="icon-clipboard3 position-left"></i>
              Service Requests
                <span _ngcontent-yuk-39="" class="badge bg-warning-400"
                      *ngIf="request_count != 0 ">{{request_count}}</span>
            </a>
          </li>
        </ul>
      </li>

      <li *ngIf="user.role =='tenant'">
        <a routerLink="/user/profile" routerLinkActive="active">
          <i class="icon-user-plus position-left"></i>
          My Profile
        </a>

      </li>
      <li *ngIf="user.role =='tenant'">
        <a routerLink="/user/package" routerLinkActive="active">
          <i class="icon-clipboard3 position-left"></i>
          My Package
        </a>

      </li>
      <li *ngIf="user.role =='tenant'">
        <a routerLink="/user/food/view" routerLinkActive="active">
          <i class="glyphicon glyphicon-cutlery position-left"></i> Food</a>
      </li>
      <li *ngIf="user.role =='tenant'">
        <a routerLink="/user/service/requests" routerLinkActive="active">
          <i class="icon-clipboard3 position-left"></i>
          Service Requests
        </a>
      </li>
      <li *ngIf="user.role =='tenant'">
        <a routerLink="/user/payment" routerLinkActive="active">
          <i class="icon-clipboard3 position-left"></i>
          Online Payment
        </a>
      </li>
      <li *ngIf="user.role =='tenant'">
        <a routerLink="/user/wallet" routerLinkActive="active">
          <i class="icon-clipboard3 position-left"></i>
          My Wallet
        </a>
      </li>

      <li *ngIf="user.role =='tenant'">
        <a routerLink="/user/referrals" routerLinkActive="active">
          <i class="icon-clipboard3 position-left"></i>
          My Referrals
        </a>
      </li>
      <li *ngIf="user.role =='tenant'">
        <a routerLink="/user/feedback" routerLinkActive="active">
          <i class="icon-clipboard3 position-left"></i>
          Ratings/Feedback
        </a>
      </li>

      <li *ngIf="user.role =='superadmin' || user.role =='admin' || user.role == 'pgowner'">
        <a routerLink="/user/notifications/email" routerLinkActive="active">
          <i
            class=" icon-bubbles5 position-left"></i> Notifications</a>
      </li>

    </ul>


    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <i class="icon-gear position-left"></i> Settings <span class="caret"></span>
        </a>
        <ul class="dropdown-menu width-250">
          <li *ngIf="user.role =='admin' || user.role == 'superadmin'">
            <a routerLink="/config/mail" routerLinkActive="active">
              <i
                class=" icon-mailbox position-left"></i>Mail Configuration</a>
          </li>
          <li *ngIf="user.role =='admin' || user.role == 'superadmin'">
            <a routerLink="/mail_templates" routerLinkActive="active">
              <i
                class=" icon-mailbox position-left"></i>Mail Templates</a>
          </li>
          <li *ngIf="user.role =='admin' || user.role == 'superadmin'">
            <a routerLink="/config/sms" routerLinkActive="active">
              <i
                class="icon-comments position-left"></i>SMS Configuration</a>
          </li>
          <li *ngIf="user.role =='admin' || user.role == 'superadmin'">
            <a routerLink="/mail_templates" routerLinkActive="active">
              <i
                class=" icon-mailbox position-left"></i>SMS Templates</a>
          </li>
          <li *ngIf="user.role =='admin' || user.role == 'superadmin'">
            <a routerLink="/mongo" routerLinkActive="active">
              <i
                class=" icon-database2 position-left"></i>Application Database</a>
          </li>
          <li *ngIf="user.role =='admin' || user.role == 'superadmin'">
            <a routerLink="/config" routerLinkActive="active">
              <i
                class=" icon-gear position-left"></i>Configurations</a>
          </li>
          <li *ngIf="user.role =='admin' || user.role == 'superadmin'">
            <a routerLink="/changelog" routerLinkActive="active">
              <i class="icon-history position-left"></i>
              Changelog
              <span class="label label-inline position-right bg-blue-400">1.0</span>
            </a>
          </li>
          <li>
            <a routerLink="/changelog" routerLinkActive="active">
              <i class="icon-history position-left"></i>
              Change Password
            </a>
          </li>
        </ul>
      </li>
    </ul>
    <div class="navbar-right" hidden>
      <ul class="nav navbar-nav">
        <li><a href="#"><i class="icon-stack-text position-left"></i> Notes</a></li>
        <li><a href="#"><i class="icon-collaboration position-left"></i> Friends</a></li>
        <li><a href="#"><i class="icon-images3 position-left"></i> Photos</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-cog3 position-left"></i> <span
            class="visible-xs-inline-block position-right"> Options</span> <span class="caret"></span></a>
          <ul class="dropdown-menu dropdown-menu-right">
            <li><a href="#"><i class="icon-image2"></i> Update cover</a></li>
            <li><a href="#"><i class="icon-clippy"></i> Update info</a></li>
            <li><a href="#"><i class="icon-make-group"></i> Manage sections</a></li>
            <li class="divider"></li>
            <li><a href="#"><i class="icon-three-bars"></i> Activity log</a></li>
            <li><a href="#"><i class="icon-cog5"></i> Profile settings</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- /second navbar -->


