<div class="page-header page-header-default">
  <div class="page-header-content">
    <div class="page-title">
      <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Home</span> - Changelog</h4>
      <a class="heading-elements-toggle"><i class="icon-more"></i></a></div>
  </div>

  <div class="breadcrumb-line"><a class="breadcrumb-elements-toggle"><i class="icon-menu-open"></i></a>
    <ul class="breadcrumb">
      <li><a routerLink="/home"><i class="icon-home2 position-left"></i> Home</a></li>
      <li class="active">Changelog</li>
    </ul>

    <app-settings></app-settings>
  </div>
</div>
<div class="content">
  <div class="cbody">
    <div class="panel panel-flat" id="v_1_0">
      <div class="panel-heading">
        <h5 class="panel-title">Version 1.0</h5>
        <div class="heading-elements">
          <span class="text-muted heading-text">February 6, 2017</span>
          <span class="label bg-blue heading-text">v. 1.0</span>
        </div>
      </div>

      <div class="panel-body">
        <p class="content-group">First update is the most simplified and includes urgent bug fixes of core
          components,
          plugins and libraries. Also version 1.1 includes updates of some components to the latest stable versions.
          The
          only new thing here is RTL version of all 4 layouts, that support almost all available components and
          layout
          features. Below you can find general list of all changes and details about upgrading.</p>

<pre class="language-javascript"><code>// # List of new components
// ------------------------------

[new]  RTL layout for all 4 main layout variations
[new]  bootbox.less - new LESS file for extended Bootstrap modal dialogs


// # List of updated plugins
// ------------------------------

[updated]  CKEditor - latest version
[updated]  Select2 - latest 3.5.x version, 4.0 is coming
[updated]  Bootstrap Multiselect - latest version
[updated]  Datatables - latest version


// # List of fixed bugs
// ------------------------------

// Core fixes
[fixed]  Sidebar - side border overlaped content in light sidebar (layout 1 and 2)
[fixed]  Breadcrumbs - in colored version links had wrong background color on hover/active
[fixed]  Breadcrumbs - dropdown menu didn't have borders in breadcrumb line component
[fixed]  Labels - striped labels didn't have right border variation as supposed to
[fixed]  Navbars - unnecessary dropdown menu re-position in navbar component
[fixed]  Button groups - extra space between buttons in toolbar
[fixed]  Tables - extra border in framed table in responsive table container

// Components fixes
[fixed]  Bootstrap Select - wrong rounded corners inside input group
[fixed]  Bootstrap Select - no styling of dropdown menu
[fixed]  SelectBox - wrong rounded corners inside input group
[fixed]  Tags Input - input field didn't have bottom spacing
[fixed]  Typeahead - small menu width if text options are too short
[fixed]  Sweet alerts - title was too big for motification size
[fixed]  Anytime picker - wrong title margin and unnecessary close button
[fixed]  jQuery UI Datepicker - extra RTL-related code in less file
[fixed]  Fullcalendar - extra RTL-related code in less file
[fixed]  Chats - wrong variables in LESS file
[fixed]  Dropzone Uploader - success/error markers moved down in thumbnails is name is visible
[fixed]  Colors - default BS styles overrided text hover state
[fixed]  SelectBox page - extra panel control buttons
</code></pre>
      </div>
    </div>
  </div>
  <!-- Footer -->
  <app-footer></app-footer>
  <!-- /footer -->
</div>

