<div class="page-header page-header-default" *ngIf="show()">
  <div class="page-header-content">
    <div class="page-title">
      <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Home</span> - Staff Members</h4>
      <a class="heading-elements-toggle"><i class="icon-more"></i></a></div>
    <div class="heading-elements">

    </div>
  </div>

  <div class="breadcrumb-line"><a class="breadcrumb-elements-toggle"><i class="icon-menu-open"></i></a>
    <ul class="breadcrumb">
      <li><a routerLink="/home"><i class="icon-home2 position-left"></i> Home</a></li>
      <li class="active">Staff Members</li>
    </ul>

    <app-settings></app-settings>
    <ul class="breadcrumb-elements">
	   <li hidden>
        <button type="button" class="btn bg-teal-400" id="spinner"><i
          class="icon-spinner4 spinner position-left"></i> Please wait loading data
        </button>
      </li>
      <li>
        <a (click)="addstaff()"><b><i
          class="icon-user-plus position-left"></i></b> Add Staff
        </a>
      </li>

    </ul>
  </div>
</div>
<div class="content">
  <div class="cbody">
    <div class="tabbable animated fadeInRight">

      <div class="panel panel-flat" >
        <div class="panel-body">
		<div class="table-staff">
          <table class="table datatable-staffs">
                <thead>
                <tr>
                  <th style="width: 100px !important;">First Name</th>
                  <th>Middle Name</th>
                  <th>Last Name</th>
                  <th>Display Name</th>
                  <th>Email</th>
                  <th>Gender</th>
                  <th>PG Name</th>
                  <th>Date Of Birth</th>
                  <th>Role</th>
                  <th>Created By</th>
                  <th>Updated By</th>
                  <th>Created At</th>
                  <th>Updated At</th>
                  <th>Tenant Status</th>
                  <th class="text-center">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let member of staffMembers;let last=last "
                    id="{{member?._id}}">
                  <td>
                    <div class="media-left media-middle">
                      <a [routerLink]="['/user/addstaff',member._id]"><img src="{{member?.staffmember?.profileImg}}"
                                                                           class="img-circle img-xs" alt=""></a>
                    </div>

                    <div class="media-body" style="width: 100px !important;">
                      <a class="display-inline-block text-default text-bold letter-icon-title"
                         [routerLink]="['/user/addstaff',member?._id]">
                        {{member?.staffmember?.firstName}}
                      </a>
                      <div class="text-muted text-size-small">
                        <a>{{member?.staffmember?.mobile}}</a>
                      </div>
                    </div>
                  </td>
                  <td>{{member?.staffmember?.middleName}}</td>
                  <td>{{member?.staffmember?.lastName}}</td>
                  <td>{{member?.staffmember?.displayName}}</td>
                  <td>{{member?.staffmember?.email}}</td>
                  <td>{{member?.staffmember?.gender}}</td>
                  <td>{{member?.pgdetails?.pgname}}</td>
                  <td>{{member?.staffmember?.dob | date: 'dd-MM-yyyy'}}</td>
                  <td>{{member?.staffrole}}</td>
                  <td>
                    {{member?.createdAt | date: 'dd-MM-yyyy'}}
                  </td>
                  <td>
                    {{member?.createdBy}}
                  </td>
                  <td>
                    {{member?.updatedAt | date: 'dd-MM-yyyy'}}
                  </td>
                  <td>
                    {{member?.updatedBy}}
                  </td>
                  <td>
                          <span class="label bg-grey-400"
                                *ngIf="member?.deleted && member?.staffmember?.deleted">Inactive</span>
                          <span class="label bg-blue"
                                *ngIf="!(member?.deleted && member?.staffmember?.deleted)">Active</span>
                  </td>

                  <td class="text-center">
                    <ul class="icons-list">
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          <i class="icon-menu9"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right">
                          <li><a [routerLink]="['/user/addstaff',member?._id,'disabled']"
                                 routerLinkActive="active"><i
                            class="icon-history"></i> Full history</a></li>
                          <li *ngIf="!(member?.deleted && member?.staffmember?.deleted)">
                            <a
                              [routerLink]="['/user/addstaff',member?._id]" routerLinkActive="active">
                              <i
                                class="icon-pencil5"></i>
                              Edit Member</a>
                          </li>
                          <li *ngIf="!(member?.deleted && member?.staffmember?.deleted)"><a data-toggle="modal"
                                                                                            data-target="#modal_info"
                                                                                            (click)="onDelete(member)">
                            <i
                              class="icon-user-cancel"></i>Deactivate Member</a></li>
                          <li *ngIf="(member?.deleted && member?.staffmember?.deleted)"><a data-toggle="modal"
                                                                                           data-target="#restore_modal_info"
                                                                                           (click)="onRestore(member)">
                            <i
                              class="icon-user-check"></i>Activate Member</a></li>
                        </ul>
                      </li>
                    </ul>
                  </td>
                </tr>

                </tbody>
              </table>
		  </div>
        </div>
      </div>

    </div>
  </div>

  <!-- Footer -->
  <app-footer></app-footer>
  <!-- /footer -->
</div>

<!-- Info modal -->
<div id="modal_info" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-warning">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h6 class="modal-title">Conformation</h6>
      </div>

      <div class="modal-body">
        <h6 class="text-semibold">Are you sure , Do you want to deactivate staff member ?</h6>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-link" data-dismiss="modal" id="modal_info_close">
          Close
        </button>
        <button type="button" class="btn btn-warning" (click)="delete(modelData, $event)">
          Deactivate
        </button>
      </div>
    </div>
  </div>
</div>
<!-- /info modal -->

<!-- Info modal -->
<div id="restore_modal_info" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h6 class="modal-title">Conformation</h6>
      </div>

      <div class="modal-body">
        <h6 class="text-semibold">Are you sure , Do you want to activate staff member ?</h6>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-link" data-dismiss="modal"
                id="restore_modal_info_close">Close
        </button>
        <button type="button" class="btn bg-primary" (click)="restore(modelData, $event)">Activate
        </button>
      </div>
    </div>
  </div>
</div>
<!-- /info modal -->

