<div class="login-container login-cover">
  <!-- Page container -->
  <div class="page-container">

    <!-- Page content -->
    <div class="page-content">

      <!-- Main content -->
      <div class="content-wrapper">
        <!-- Password recovery -->
        <form class="modal-body ui form">
          <div class="panel panel-body login-form">
            <div class="text-center">
              <div class="icon-object border-warning text-warning"><i class="icon-spinner11"></i></div>
              <h5 class="content-group">Password recovery
                <small class="display-block">We'll send you instructions in email</small>
              </h5>
            </div>

            <div class="field">
              <div class="ui left icon input">
                <input type="text" name="email" placeholder="Email" [(ngModel)]="email">
                <i class="mail icon"></i>
              </div>
            </div>

            <button class="fluid ui blue submit button" type="submit">Reset password
              <i class="icon-arrow-right14 position-right"></i>
            </button>
            <br/>
            <div class="content-divider text-muted form-group"><span>Already have an account?</span></div>
            <a [routerLink]="['/auth/login']" routerLinkActive="active" class="btn btn-default btn-block content-group">Login</a>
          </div>

        </form>
        <!-- /password recovery -->

      </div>
      <!-- /main content -->

    </div>
    <!-- /page content -->

  </div>
  <!-- /page container -->
</div>

<!-- Footer -->
<app-footer></app-footer>
<!-- /footer -->


