<div class="page-header page-header-default">
  <div class="page-header-content">
    <div class="page-title">
      <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Home</span> - Add Tenant</h4>
      <a class="heading-elements-toggle"><i class="icon-more"></i></a></div>
    <div class="heading-elements">
      <div class="heading-btn-group" >

      </div>
    </div>
  </div>

  <div class="breadcrumb-line"><a class="breadcrumb-elements-toggle"><i class="icon-menu-open"></i></a>
    <ul class="breadcrumb">
      <li><a routerLink="/home"><i class="icon-home2 position-left"></i> Home</a></li>
      <li><a routerLink="/user/tenants"><i class="icon-home2 position-left"></i> Tenants</a></li>
      <li class="active">Add Tenant</li>
    </ul>

    <app-settings></app-settings>
    <ul class="breadcrumb-elements">
      <li *ngIf="disabled == ''">
        <button class="ui instagram button" (click)="submit()">
          Save
          <i class="icon-database-insert position-right"></i>
        </button>
      </li>
    </ul>
  </div>
</div>
<div class="content">
  <div class="tabbable">

    <div class="panel panel-flat">
      <form class="modal-body ui form">
        <button class="ui instagram button save" type="submit">
          Save
          <i class="icon-database-insert position-right"></i>
        </button>
        <div class="panel-body">
          <div class="ui raised segment">

            <a class="ui blue left ribbon label">Package Details</a>
            <div class="box-header with-border">
              <div class="ui grid">
                <div class="twelve wide column">
                  <div class="field">
                    <div class="three fields">
                      <div class="field {{disabled}}">
                        <label>Referred By</label>
                        <div class="ui left icon input">
                          <input name="referredBy" id="referredBy" type="text" class="validate"
                                 [(ngModel)]="tenantModel.referredBy" placeholder="Referred By">
                          <i class="user icon"></i>
                        </div>
                      </div>
                      <div class="field {{disabled}}">
                        <label>Referral Code</label>
                        <div class="ui left icon input">
                          <input name="referralCode" id="referralCode" type="text" class="validate"
                                 [(ngModel)]="tenantModel.referralCode" placeholder="Referral Code">
                          <i class="user icon"></i>
                        </div>
                      </div>
                      <div class="field">

                        <div class="field {{disabled}}">

                          <label>Joining Date</label>
                          <div class="ui left icon input">
                            <input name="joinedDate" id="joiningDate" type="text" class="validate joiningDate daterange-single"
                                   [(ngModel)]="tenantModel.joinedDate" placeholder="Joining Date">
                            <i class="calendar icon"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="field">
                    <div class="three fields">
                      <div class="field {{disabled}}">
                        <label>PG Name</label>

                        <select class="ui selection dropdown pgnames" id="pgnames">
                          <option value="">PG Name</option>
                          <option *ngFor="let pgname of pgnameList;let last=last" value="{{pgname?._id}}">{{pgname?.pgname}}
                          </option>
                          <option class="text-bold" *ngIf="pgnameList.length==0" disabled>No records found.</option>
                        </select>
                      </div>
                      <div class="field {{disabled}}">
                        <div class="field {{disabled}}">
                          <label>Joined Package</label>

                          <select class="ui selection dropdown joinedPackage" id="joinedPackage">
                            <option value="">Joined Package</option>
                            <option value="{{package}}" *ngFor="let package of packageList;let last=last">{{package}}
                            </option>
                            <option class="text-bold" *ngIf="packageList==null" disabled>No records found.</option>
                          </select>
                        </div>
                      </div>
                      <div class="field {{disabled}}">
                        <label>Room Type</label>
                        <select class="ui selection dropdown roomtype" id="roomtype">
                          <option value="">Joined Package</option>
                          <option value="{{roomtype}}" *ngFor="let roomtype of roomTypes;let last=last">{{roomtype}}
                          </option>
                          <option class="text-bold" *ngIf="roomTypes==null" disabled>No records found.</option>
                        </select>
                      </div>

                    </div>
                  </div>
                  <div class="three fields">
                    <div class="field {{disabled}}">
                      <label>Advance Amount</label>
                      <div class="ui left icon input">
                        <input name="advanceAmount" id="advanceAmount" type="number" class="validate"
                               [(ngModel)]="tenantModel.advanceAmount" placeholder="Advance Amount">
                        <i class="payment icon"></i>
                      </div>
                    </div>
                    <div class="field {{disabled}}">
                      <label>Paid Amount</label>
                      <div class="ui left icon input">
                        <input type="number" class="form-control" id="paidAmount" name="paidAmount"
                               [(ngModel)]="tenantModel.paidAmount" placeholder="Paid Amount">
                        <i class="payment icon"></i>
                      </div>
                    </div>
                    <div class="field {{disabled}}">
                      <label>ID Proofs</label>
                      <div class="multi-select-full">
                        <select class="ui multiple selection dropdown idproofs" id="idproofs" multiple="true">
                          <option value="{{proof._id}}" *ngFor="let proof of idproofs;let last=last">{{proof.value}}
                          </option>
                          <option class="disable" *ngIf="idproofs==null">No records found.</option>
                        </select>
                      </div>
                    </div>

                  </div>
                  <div class="two fields">
                    <div class="field {{disabled}}" [hidden]="disable_fileupload">
                      <label>Upload Proofs</label>
                      <button class="btn btn-default {{loading}}" id="fileuploadbtn" type="button" (click)="showBrowse()">
                        <i class="icon-file-picture position-left"></i>
                        Upload Proofs</button>
                    </div>
                    <div class="field {{disabled}} {{disable_fileupload}}" hidden>
                      <input type="file" class="file-input-ajax" id="fileupload"><br/>
                    </div>
                    <div class="field">
                      <div class="well border-top-lg border-top-info">
                        Allowed File Extensions <code>['jpg', 'gif', 'png', 'jpeg']</code><br/>
                        Maximum upload file size - <code>5 MB</code>
                      </div>
                    </div>
                  </div>
                  <table role="presentation" class="table table-striped">
                    <tbody class="files">
                    <tr class="template-download fade in"
                        *ngFor="let image of tenantModel.uploadedImages;let i=index;let last=last;" id="{{image.fileid}}">
                      <td>
            <span class="preview">
            <a><img [src]="imageURL+image.fileid" style="height: 35px;width: 85px;"
                    (click)="showImage(imageURL+image.fileid)"></a>
            </span>
                      </td>
                      <td>
                        <div class="field {{disabled}}">
                          <div class="ui input">
                            <input required type="text" name="idnumber_{{image.fileid}}" id="number_{{image.fileid}}" placeholder="ID Number"
                                   class="validate" [(ngModel)]="image.number">
                          </div>
                        </div>
                      </td>
                      <td>
                        <a title="{{image.filename}}">{{image.name}}</a>
                      </td>
                      <td>
                        <a title="{{image.filename}}">{{image.type}}</a>
                      </td>
                      <td hidden>
                        <a title="{{image.proofid}}">{{image.proofid}}</a>
                      </td>
                      <td>
                        <span class="size">{{image.size}}</span>
                      </td>
                      <td style="width: 1%" *ngIf="disabled == ''">
                        <a data-toggle="modal"
                           data-target="#modal_info"
                           (click)="onDelete(image.deleteId,i)"><i class="icon-trash position-left"></i> <span
                          class="text-bold"></span></a>
                      </td>
                      <td style="width: 1%" *ngIf="disabled != ''">
                        <i class="icon-trash position-left"></i> <span
                        class="text-bold"></span>
                      </td>
                    </tr>
                    </tbody>
                  </table>

                  <div class="field {{disabled}}">

                  </div>
                </div>
                <div class="four wide column">
                  <div class="profileImg" [hidden]="(disabled == 'disabled')">
                    <div class="ui small circular image profile">
                      <div class="ui dimmer">
                        <div class="content">
                          <div class="center">
                            <input id="profileImg" type="file" class="pupload">
                          </div>
                        </div>
                      </div>
                      <img [src]="getImage(tenantModel?.tenant?.profileImg)">
                    </div>
                  </div>
                  <div class="profileImg" [hidden]="(disabled != 'disabled')">
                    <div class="ui small circular image">
                      <img [src]="getImage(tenantModel?.tenant?.profileImg)">
                    </div>
                  </div>

                  <!--<img class="ui small circular image" src="../../../../../assets/img/elliot.jpg">-->
                </div>

              </div>
            </div>
            <div>
              <a class="ui blue ribbon label">Personal Details</a>
              <br/>
              <span></span>
              <div class="box-body">
                <div class="field {{disabled}}">
                  <div class="three fields">
                    <div class="field">
                      <label>First name</label>
                      <div class="ui left icon input">
                        <input name="firstName" id="firstName" type="text" class="validate"
                               [(ngModel)]="tenantModel.tenant.firstName" placeholder="First Name">
                        <i class="user icon"></i>
                      </div>
                    </div>
                    <div class="field">
                      <label>Middle name</label>
                      <div class="ui left icon input">
                        <input name="middleName" id="middleName" type="text" class="validate"
                               [(ngModel)]="tenantModel.tenant.middleName" placeholder="Middle Name">
                        <i class="user icon"></i>
                      </div>
                    </div>
                    <div class="field">
                      <label>Last name</label>
                      <div class="ui left icon input">
                        <input type="text" class="form-control" id="lastName" name="lastName"
                               [(ngModel)]="tenantModel.tenant.lastName" placeholder="Last Name">
                        <i class="user icon"></i>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="field {{disabled}}">
                  <div class="three fields">
                    <div class="field">
                      <label>Date Of Birth</label>
                      <div class="ui left icon input">
                        <input name="dob" id="dob" type="text" class="validate dob daterange-dob"
                               [(ngModel)]="tenantModel.tenant.dob"
                               placeholder="Date of Birth">
                        <i class="calendar icon"></i>
                      </div>
                    </div>
                    <div class="field">
                      <label>Gender</label>
                      <div class="ui selection dropdown tenant_gender">
                        <input type="hidden" name="tenant_gender" id="tenant_gender" [(ngModel)]="tenantModel.tenant.gender">
                        <i class="dropdown icon"></i>
                        <div class="default text">Gender</div>
                        <div class="menu">
                          <div class="item" data-value="Male" data-text="Male">
                            <i class="male icon"></i>
                            Male
                          </div>
                          <div class="item" data-value="Female" data-text="Female">
                            <i class="female icon"></i>
                            Female
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="field">
                      <label>Marital Status</label>
                      <div class="ui selection dropdown maritalStatus">
                        <input type="hidden" name="maritalStatus" [(ngModel)]="tenantModel.tenant.maritalStatus">
                        <i class="dropdown icon"></i>
                        <div class="default text">Marital Status</div>
                        <div class="menu">
                          <div class="item" data-value="Single">Single</div>
                          <div class="item" data-value="Married">Married</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="field {{disabled}}">
                  <div class="three fields">
                    <div class="field">
                      <label>Mobile Number</label>
                      <div class="ui left icon input">
                        <input name="mobile" id="mobile" type="text" class="validate"
                               [(ngModel)]="tenantModel.tenant.mobile" placeholder="Mobile Number">
                        <i class="mobile icon"></i>
                      </div>
                    </div>
                    <div class="field">
                      <label>Email</label>
                      <div class="ui left icon input">
                        <input name="email" id="email" type="text" class="validate"
                               [(ngModel)]="tenantModel.tenant.email" placeholder="Email">
                        <i class="mail icon"></i>
                      </div>
                    </div>
                    <div class="field" hidden>
                      <label>Password</label>
                      <div class="ui left icon input">
                        <input name="password" id="password" type="text" class="validate"
                               [(ngModel)]="tenantModel.tenant.password" placeholder="Password">
                        <i class="lock icon"></i>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div>
              <a class="ui blue ribbon label">Residential Address</a>
              <span></span>
              <div class="box-body">
                <div class="field {{disabled}}">
                  <div class="three fields">
                    <div class="field">
                      <label>House No & Street Name</label>
                      <div class="ui left icon input">
                        <input name="addressLineOne" id="addressLineOne" type="text" class="validate"
                               [(ngModel)]="tenantModel.tenant.addressLineOne" placeholder="House No & Street Name">
                        <i class="home icon"></i>
                      </div>
                    </div>
                    <div class="field">
                      <label>Locality & Area</label>
                      <div class="ui left icon input">
                        <input name="addressLineTwo" id="addressLineTwo" type="text" class="validate"
                               [(ngModel)]="tenantModel.tenant.addressLineTwo" placeholder="Locality & Area">
                        <i class="map signs icon"></i>
                      </div>
                    </div>
                    <div class="field {{disabled}}">
                      <label>Country</label>
                      <select name="skills" class="ui fluid search dropdown country disabled">
                        <option value=""></option>
                        <option value="{{country._id}}"
                                *ngFor="let country of _countries; let i = index;" [selected]="country.name == 'India'">{{country.name}}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="field {{disabled}}">
                  <div class="three fields">

                    <div class="field {{disabled}}">
                      <label>State</label>
                      <select name="state" class="ui fluid search dropdown state">
                        <option value=""></option>
                        <option value="{{state._id}}"
                                *ngFor="let state of _states; let i = index;"
                                [selected]="state.name == user?.state?.name">{{state.name}}
                        </option>
                      </select>
                    </div>
                    <div class="field {{disabled}}">
                      <label>City</label>
                      <select name="city" class="ui fluid search dropdown city">
                        <option value=""></option>
                        <option value="{{city._id}}"
                                *ngFor="let city of _cities; let i = index;"
                                [selected]="city.name == user?.city?.name">{{city.name}}
                        </option>
                      </select>
                    </div>
                    <div class="field">
                      <label>Postal Code</label>
                      <div class="ui left icon input">
                        <input type="text" class="form-control" id="postalCode" name="postalCode"
                               [(ngModel)]="tenantModel.tenant.postalCode" placeholder="Postal Code">
                        <i class="marker icon"></i>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="field {{disabled}}">
                  <div class="two fields">
                    <div class="field">
                      <label>Landmark</label>
                      <div class="ui left icon input">
                        <input name="landMark" id="landMark" type="text" class="validate"
                               [(ngModel)]="tenantModel.tenant.landMark" placeholder="Landmark">
                        <i class="street view icon"></i>
                      </div>
                    </div>
                    <div class="field">
                      <label>Comment</label>
                      <div class="ui left icon input">
                        <input name="comment" id="comment" type="text" class="validate"
                               [(ngModel)]="tenantModel.tenant.comments" placeholder="Comments">
                        <i class="comments signs icon"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </form>
    </div>

  </div>

  <!-- Footer -->
  <app-footer></app-footer>
  <!-- /footer -->
</div>

<!-- Info modal -->
<div id="modal_info" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-warning">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h6 class="modal-title">Conformation</h6>
      </div>

      <div class="modal-body">
        <h6 class="text-semibold">Are you sure , Do you want to delete this image ?</h6>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-link" data-dismiss="modal" id="modal_info_close">Close
        </button>
        <button type="button" class="btn btn-warning" (click)="delete()">Delete
        </button>
      </div>
    </div>
  </div>
</div>
<!-- /info modal -->
