<div class="page-header page-header-default">
  <div class="page-header-content">
    <div class="page-title">
      <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Home</span> - Food Requests</h4>
      <a class="heading-elements-toggle"><i class="icon-more"></i></a></div>
  </div>

  <div class="breadcrumb-line"><a class="breadcrumb-elements-toggle"><i class="icon-menu-open"></i></a>
    <ul class="breadcrumb">
      <li><a routerLink="/home"><i class="icon-home2 position-left"></i> Home</a></li>
      <li class="active">Food Requests</li>
    </ul>

    <app-settings></app-settings>
    <ul class="breadcrumb-elements">
      <li>
        <button type="button" class="btn bg-teal-400" id="spinner"><i
          class="icon-spinner4 spinner position-left"></i> Please wait loading data
        </button>
      </li>
      <li *ngIf="user.role == 'tenant'">
        <a data-toggle="modal"
           data-target="#modal_info"><i
          class=" icon-file-plus position-left"></i>New Request</a>
      </li>
    </ul>

  </div>
</div>
<div class="content">
  <div class="cbody tabbable">

    <div class="panel panel-flat">
      <div class="panel-body">
        <div class="row food-requests">
         <!-- <div class="{{tenant_class}}" *ngIf="user.role == 'tenant'">
            <form novalidate class="ui form">

              <div class="field disabled">
                <label>First Name</label>
                <input type="text" name="name" placeholder="First Name" [value]="request?.tenant?.firstName">
              </div>
              <div class="field disabled">
                <label>Mobile</label>
                <input type="text" name="mobile" placeholder="Mobile Number"
                       [value]="request?.tenant?.mobile">
              </div>
              <div class="field">
                <label>Start Date</label>
                <div class="ui left icon input">
                  <input type="text" name="start_date"
                         class="btn btn-link daterange heading-btn text-semibold start-date"
                         [(ngModel)]="request.start_date" (click)="showDate()">
                  <i class="calendar icon"></i>
                </div>
              </div>
              <div class="field">
                <label>End Date</label>
                <div class="ui left icon input">
                  <input type="text" name="end_date"
                         class="btn btn-link daterange heading-btn text-semibold end-date"
                         [(ngModel)]="request.end_date" (click)="showDate()">
                  <i class="calendar icon"></i>
                </div>
              </div>
              <div class="field">
                <div class="inline fields">
                  <div class="field">
                    <div class="ui checkbox">
                      <input type="checkbox" name="breakfast" id="breakfast"
                             [(ngModel)]="request.breakfast">
                      <label>Breakfast</label>
                    </div>
                  </div>
                  <div class="field">
                    <div class="ui checkbox">
                      <input type="checkbox" name="lunch" id="lunch" [(ngModel)]="request.lunch">
                      <label>Lunch</label>
                    </div>
                  </div>
                  <div class="field">
                    <div class="ui checkbox">
                      <input type="checkbox" name="dinner" id="dinner" [(ngModel)]="request.dinner">
                      <label>Dinner</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="field">
                <label>Comments</label>
                             <textarea name="comments"
                                       class="form-control mb-15"
                                       rows="3"
                                       cols="1"
                                       [(ngModel)]="request.comments"></textarea>
              </div>
              <div class="text-right submitbtn">
                <button class="btn btn-link"
                        (click)="reset()">
                  <b><i class=" icon-reset"></i></b>
                  Reset
                </button>
                <button class="btn btn-primary-right"
                        (click)="save()">
                  Request
                  <b><i class="icon-circle-right2 position-right"></i></b>
                </button>
              </div>

            </form>
          </div>-->

          <table class="table datatable-basic">
            <thead>
            <tr>
              <th>Name</th>
              <th>Date</th>
              <th>Breakfast</th>
              <th>Lunch</th>
              <th>Dinner</th>
              <th>Comments</th>
              <th class="text-center">Actions</th>
            </tr>
            </thead>
            <tbody>

            <tr *ngFor="let request of requests;let last=last ">
              <td>
                <div class="media-left media-middle">
                  <a href="#" class="btn bg-teal-400 btn-rounded btn-icon btn-xs">
                    <span class="letter-icon">A</span>
                  </a>
                </div>

                <div class="media-body">
                  <a class="display-inline-block text-default text-semibold letter-icon-title">{{request?.tenant.firstName}}</a>
                  <div class="text-muted text-size-small"><span
                    class="status-mark border-blue position-left"></span>
                    {{request?.tenant.mobile}}
                  </div>
                </div>
              </td>
              <td>{{request?.start_date | date: 'dd-MM-yyyy'}} - {{request?.end_date | date: 'dd-MM-yyyy'}}
              </td>
              <td>
                <span *ngIf="!request?.breakfast">Coming</span>
                <span *ngIf="request?.breakfast" style="color: red">Not coming</span>
              </td>
              <td>
                <span *ngIf="!request?.lunch">Coming</span>
                <span *ngIf="request?.lunch" style="color: red">Not coming</span>
              </td>
              <td>
                <span *ngIf="!request?.dinner">Coming</span>
                <span *ngIf="request?.dinner" style="color: red">Not coming</span>
              </td>
              <td>{{request?.comments}}</td>
              <td class="text-center">
                <ul class="icons-list">
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      <i class="icon-menu9"></i>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-right">
                      <li><a data-toggle="modal"
                             data-target="#modal_info" (click)="edit(request)"><i class="icon-pencil5"></i>Edit</a></li>
                    </ul>
                  </li>
                </ul>
              </td>
            </tr>

            </tbody>
          </table>
        </div>

      </div>
      <br/>
      <br/>
    </div>
  </div>
  <!-- Footer -->
  <app-footer></app-footer>
  <!-- /footer -->
</div>
<!-- Info modal -->
<div id="modal_info" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h6 class="modal-title">Conformation</h6>
      </div>

      <div class="modal-body">
        <form novalidate class="ui form">

          <div class="field disabled">
            <label>First Name</label>
            <input type="text" name="name" placeholder="First Name" [value]="request?.tenant?.firstName">
          </div>
          <div class="field disabled">
            <label>Mobile</label>
            <input type="text" name="mobile" placeholder="Mobile Number"
                   [value]="request?.tenant?.mobile">
          </div>
          <div class="field">
            <label>Start Date</label>
            <div class="ui left icon input">
              <input type="text" name="start_date"
                     class="btn btn-link daterange heading-btn text-semibold start-date"
                     [(ngModel)]="request.start_date" (click)="showDate()">
              <i class="calendar icon"></i>
            </div>
          </div>
          <div class="field">
            <label>End Date</label>
            <div class="ui left icon input">
              <input type="text" name="end_date"
                     class="btn btn-link daterange heading-btn text-semibold end-date"
                     [(ngModel)]="request.end_date" (click)="showDate()">
              <i class="calendar icon"></i>
            </div>
          </div>
          <div class="field">
            <div class="inline fields">
              <div class="field">
                <div class="ui checkbox">
                  <input type="checkbox" name="breakfast" id="breakfast"
                         [(ngModel)]="request.breakfast">
                  <label>Breakfast</label>
                </div>
              </div>
              <div class="field">
                <div class="ui checkbox">
                  <input type="checkbox" name="lunch" id="lunch" [(ngModel)]="request.lunch">
                  <label>Lunch</label>
                </div>
              </div>
              <div class="field">
                <div class="ui checkbox">
                  <input type="checkbox" name="dinner" id="dinner" [(ngModel)]="request.dinner">
                  <label>Dinner</label>
                </div>
              </div>
            </div>
          </div>
          <div class="field">
            <label>Comments</label>
                             <textarea name="comments"
                                       class="form-control mb-15"
                                       rows="3"
                                       cols="1"
                                       [(ngModel)]="request.comments"></textarea>
          </div>

        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-link" data-dismiss="modal" id="modal_info_close">Close</button>
        <button class="btn btn-primary-right"
                (click)="save()">
          Request
          <b><i class="icon-circle-right2 position-right"></i></b>
        </button>
      </div>
    </div>
  </div>
</div>
<!-- /info modal -->
