<div class="login-container login-cover">
  <!-- Page container -->
  <div class="page-container">

    <!-- Page content -->
    <div class="page-content">

      <!-- Main content -->
      <div class="content-wrapper">

        <!-- Password recovery -->
        <form class="modal-body ui form" (ngSubmit)="f.form.valid && change()" #f="ngForm" novalidate>
          <div class="panel panel-body login-form">
            <div class="text-center">
              <div class="icon-object border-warning text-warning"><i class="icon-spinner11"></i></div>
              <h5 class="content-group">Reset Password
              </h5>
            </div>

            <div class="field">
              <div class="ui left icon input">
                <input type="password" name="password" placeholder="New Password" [(ngModel)]="password">
                <i class="lock icon"></i>
              </div>
            </div>

            <div class="field">
              <div class="ui left icon input">
                <input type="password" name="cpassword" placeholder="Confirm Password" [(ngModel)]="cpassword">
                <i class="lock icon"></i>
              </div>
            </div>

            <button class="fluid ui blue button">Update Password
              <i class="icon-arrow-right14 position-right"></i>
            </button>
            <br/>
            <div class="content-divider text-muted form-group"><span>Already have an account?</span></div>
            <a [routerLink]="['/auth/login']" routerLinkActive="active" class="btn btn-default btn-block content-group">Login</a>
          </div>

        </form>
        <!-- /password recovery -->
      </div>
      <!-- /main content -->

    </div>
    <!-- /page content -->

  </div>
  <!-- /page container -->
</div>
