.field input{
  border: none;
}
.ui.buttons{
  float: right;
  margin-right: 10px;
}

.tiva-timetable{
  text-align: right;
}
.daterangepicker.show-calendar .calendar, .range_inputs, .daterangepicker-inputs{
  display: none !important;
}

.timetable-column-header,.text-muted, th:not(:first-child){
  background-color: #37474F !important;
  color: #fff !important;
}

div.daterangepicker > div > ul > li.active {
  color: #fff;
  background-color: #37474F !important;
}
