
<!-- Page container -->
<div class="page-container">
  <!-- Page content -->
  <div class="page-content">

    <!-- Main content -->
    <div class="content-wrapper">
      <!-- User profile -->
      <div class="row" style="padding-top: 20px;">
        <div class="col-lg-2">

          <!-- Navigation -->
          <div class="panel panel-flat">
            <div class="panel-heading">
              <h6 class="panel-title"></h6>
              <div class="heading-elements">

              </div>
            </div>
          </div>
          <!-- /navigation -->


          <!-- Share your thoughts -->
          <div class="panel panel-flat">
            <div class="panel-heading">
              <h6 class="panel-title"></h6>
              <div class="heading-elements">
                <ul class="icons-list">
                  <li></li>
                </ul>
              </div>
            </div>

            <div class="panel-body">

            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="tabbable">

            <div class="panel panel-flat">

              <div class="panel-heading">
                <a class="ui blue ribbon label">Payment Details</a>
              </div>

              <div class="panel-body">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h6 class="panel-title">Room Rents<a class="heading-elements-toggle"><i
                      class="icon-more"></i></a></h6>
                    <div class="heading-elements">
                      <ul class="icons-list">
                        <li>
                          <button type="button" class="btn btn-default daterange-rent">
                            <i class="icon-calendar22 position-left"></i>
                            <span></span>
                            <b class="caret"></b>
                          </button>
                        </li>
                      </ul>
                    </div>
                  </div>

                  <div class="panel-body">
                    <table class="table group-datatable-basic">
                      <thead>
                      <tr>
                        <th>Expense Group</th>
                        <th>Expense Item</th>
                        <th>Date</th>
                        <th>Amount</th>
                        <th>User</th>
                      </tr>
                      </thead>
                      <tbody>

                      <tr *ngFor="let expense of rent_expenses;let last=last; let i=index">
                        <td>
                          {{expense.expense_group.expense_group}}
                        </td>
                        <td>
                          {{expense.expense_item.expense_item}}
                        </td>
                        <td>
                          {{expense.date | date: 'dd/MM/yyyy'}}
                        </td>
                        <td>
                          {{expense.amount | currency: 'INR': true}}
                        </td>
                        <td>
                          {{expense.user.firstName}}
                        </td>
                      </tr>
                      <tr [hidden]="rent_expenses.length == 0">
                        <td></td>
                        <td></td>
                        <td class="text-black">Total Paid Amount</td>
                        <td class="text-black">{{rent_amount | currency: 'INR': true}}</td>
                        <td></td>
                      </tr>
                      </tbody>
                    </table>
                    <div class="msg">
                      {{rent_msg}}
                    </div>
                  </div>
                </div>

              </div>

            </div>


            <div class="panel panel-flat border-top-warning">
              <div class="panel-heading">
                <!-- <h6 class="panel-title"><span class="text-semibold">
                   <span>Ads by </span> </span> OursPG</h6>-->
              </div>

              <div class="panel-body">

              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-2">

          <!-- Navigation -->
          <div class="panel panel-flat">
            <div class="panel-heading">
              <h6 class="panel-title"></h6>
              <div class="heading-elements">

              </div>
            </div>
          </div>
          <!-- /navigation -->


          <!-- Share your thoughts -->
          <div class="panel panel-flat">
            <div class="panel-heading">
              <h6 class="panel-title"></h6>
              <div class="heading-elements">
                <ul class="icons-list">
                  <li></li>
                </ul>
              </div>
            </div>

            <div class="panel-body">

            </div>
          </div>
        </div>
      </div>
      <!-- /user profile -->

    </div>
    <!-- /main content -->

  </div>
  <!-- /page content -->

</div>
<!-- /page container -->
